div.container {
    width: 100%;
}

.navbar-default .brand-logo {
background-image: url(/static/img/brand_logo.png);
}

.navbar-inverse .brand-logo {
background-image: url(/static/img/brand_logo_inverse.png);
}

.brand-logo {
background-size: 92.5px 24px;
background-repeat: no-repeat;
width: 92.5px;height:24px;
}

.navbar-sumatra {
    background-color: #003300;
}

code {
    color: black;
}

.dl-horizontal dt{
    text-align: left;
    width: auto;
}

a .glyphicon {
    cursor: pointer;
}

.selected {
    background-color: #60c0dc;
    text-color: white;
}

.label-A {
    background-color: orange;
}

.label-B {
    background-color: green;
}

ul.hierarchical {
    list-style-type: none;
}

.dropdown-menu li a {
    cursor: pointer;
}

.footer {
    position: absolute;
    padding:5px;
    left:0px;
    bottom: 0px;
    font-size: 10px;
}
