html, body{
    min-height: 100%;
}

div.container {
    width: 100%;
}

code {
    color: black;
}

.dl-horizontal dt{
    text-align: left;
    width: auto;
}

a .glyphicon {
    cursor: pointer;
}

.selected {
    background-color: #60c0dc;
    text-color: white;
}

.label-A {
    background-color: orange;
}

.label-B {
    background-color: green;
}

ul.hierarchical {
    list-style-type: none;
}

.dropdown-menu li a {
    cursor: pointer;
}

.footer {
    position: absolute;
    padding:5px;
    left:0px;
    bottom: 0px;
    font-size: 10px;
}
