include doc/*.txt
include doc/images/*.png
include doc/releases/*.txt
include LICENSE
include README.rst
include sumatra/web/static/css/*.css
include sumatra/web/static/fonts/*
include sumatra/web/static/js/*.js
include sumatra/web/templates/*.html
include sumatra/publishing/latex/sumatra.sty
include sumatra/formatting/latex_template.tex
recursive-include test/example_projects *
recursive-include test/example_repositories *
include test/unittests/*.py
include test/unittests/README
include test/unittests/all_tests.sh
include test/unittests/example*.json
include test/system/fixtures/*
include test/system/*.py
include test/*.py
