include doc/*.txt
include doc/images/*.png
include doc/releases/*.txt
include COPYING
include src/web/media/css/*.css
include src/web/media/img/*.png
include src/web/media/js/*.js
recursive-include src/web/media/extras/fontawesome *
include src/web/templates/*.html
include src/publishing/latex/sumatra.sty
recursive-include test/example_projects *
recursive-include test/example_repositories *
include test/unittests/*.py
include test/unittests/README
include test/unittests/all_tests.sh
include test/*.py
include distribute_setup.py
