/* ambiance theme for code-mirror */

/* Color scheme */

.cm-s-ambiance .cm-keyword { color: #FE00F4; }
.cm-s-ambiance .cm-atom { color: #CF7EA9; }
.cm-s-ambiance .cm-number { color: #78CF8A; }
.cm-s-ambiance .cm-def { color: #aac6e3; }
.cm-s-ambiance .cm-variable { color: #15269D; }
.cm-s-ambiance .cm-variable-2 { color: #eed1b3; }
.cm-s-ambiance .cm-variable-3 { color: #faded3; }
.cm-s-ambiance .cm-property { color: #eed1b3; }
.cm-s-ambiance .cm-operator {color: #A00000;}
.cm-s-ambiance .cm-comment { color: #555; font-style:italic; }
.cm-s-ambiance .cm-string { color: #00A32F; }
.cm-s-ambiance .cm-string-2 { color: #9d937c; }
.cm-s-ambiance .cm-meta { color: #D2A8A1; }
.cm-s-ambiance .cm-error { color: #AF2018; }
.cm-s-ambiance .cm-qualifier { color: yellow; }
.cm-s-ambiance .cm-builtin { color: #000000; }
.cm-s-ambiance .cm-bracket { color: #24C2C7; }
.cm-s-ambiance .cm-tag { color: #fee4ff }
.cm-s-ambiance .cm-attribute {  color: #9B859D; }
.cm-s-ambiance .cm-header {color: blue;}
.cm-s-ambiance .cm-quote { color: #24C2C7; }
.cm-s-ambiance .cm-hr { color: pink; }
.cm-s-ambiance .cm-link { color: #F4C20B; }
.cm-s-ambiance .cm-special { color: #FF9D00; }

.cm-s-ambiance .CodeMirror-matchingbracket { color: #0f0; }
.cm-s-ambiance .CodeMirror-nonmatchingbracket { color: #f22; }

.cm-s-ambiance .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}
.CodeMirror-focused .cm-s-ambiance .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.10);
}

/* Editor styling */

.cm-s-ambiance {
  font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;
  color: #894A0B;
  background-color:#ECEDEB;
}

.cm-s-ambiance .CodeMirror-gutter {
  //background: #3D3D3D;
  //background-color: #ECEDEB;
  background-color: #ECEDEB;
  padding: 0 5px;
  //text-shadow: #333 1px 1px;
  //border-right: 1px solid #4D4D4D;
  //box-shadow: 0 10px 20px black;
}

.cm-s-ambiance .CodeMirror-gutter .CodeMirror-gutter-text {

}

.cm-s-ambiance .CodeMirror-lines {

}

.cm-s-ambiance .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #7991E8;
}

.cm-s-ambiance .activeline {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.031);
}