body {
padding-top: 60px;
padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#table_sidebar{
    margin-top: 10px;
}      
#table_sidebar tr.active{
    background-color: #ffff80;
    //color: #ffffff;
}
#table_sidebar tr.active:hover{
    background-color: #ffff34;
}
.sidebar_hover{
    background-color: #eee9e9;
    cursor: pointer;
    cursor: hand;  
}
#header_sidebar{
    color: rgb(65, 131, 196);
}

#table_out{
	margin-right: 20px;
    width: 98%;
    //table-layout: fixed;
}

#table_out th.green.header:first-child{border-left:1px solid #ddd}   
#table_out th.blue.header:first-child{border-left: 0px;}   
#table_out th,#table_out td{line-height:18px;text-align:center;}
#table_out th{padding-top:9px;font-weight:bold;vertical-align:middle;padding-right:0px}
#table_out td{vertical-align:top;border-top:1px solid #ddd;}
#table_out tbody th{border-top:1px solid #ddd;vertical-align:top;}
.condensed-table th,.condensed-table td{padding:5px 5px 4px;}
.bordered-table{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.bordered-table th+th,.bordered-table td+td,.bordered-table th+td{border-left:1px solid #ddd;}
.bordered-table thead tr:first-child th:first-child,.bordered-table tbody tr:first-child td:first-child{-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0;border-radius:4px 0 0 0;}
.bordered-table thead tr:first-child th:last-child,.bordered-table tbody tr:first-child td:last-child{-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0;border-radius:0 4px 0 0;}
.bordered-table tbody tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;}
.bordered-table tbody tr:last-child td:last-child{-webkit-border-radius:0 0 4px 0;-moz-border-radius:0 0 4px 0;border-radius:0 0 4px 0;}
table .span1{width:20px;}
table .span2{width:60px;}
table .span3{width:100px;}
table .span4{width:140px;}
table .span5{width:180px;}
table .span6{width:220px;}
table .span7{width:260px;}
table .span8{width:300px;}
table .span9{width:340px;}
table .span10{width:380px;}
table .span11{width:420px;}
table .span12{width:460px;}
table .span13{width:500px;}
table .span14{width:540px;}
table .span15{width:580px;}
table .span16{width:620px;}
.zebra-striped tbody tr:nth-child(odd) td,.zebra-striped tbody tr:nth-child(odd) th{//background-color:#f9f9f9;}
.zebra-striped tbody tr:hover td,.zebra-striped tbody tr:hover th{//background-color:#f5f5f5;}
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .blue{color:#049cdb;border-bottom-color:#049cdb;}
table .headerSortUp.blue,table .headerSortDown.blue{background-color:#ade6fe;}
table .green{color:#46a546;border-bottom-color:#46a546;}
table .headerSortUp.green,table .headerSortDown.green{background-color:#cdeacd;}
table .red{color:#9d261d;border-bottom-color:#9d261d;}
table .headerSortUp.red,table .headerSortDown.red{background-color:#f4c8c5;}
table .yellow{color:#ffc40d;border-bottom-color:#ffc40d;}
table .headerSortUp.yellow,table .headerSortDown.yellow{background-color:#fff6d9;}
table .orange{color:#f89406;border-bottom-color:#f89406;}
table .headerSortUp.orange,table .headerSortDown.orange{background-color:#fee9cc;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

#header_menu{
    border-bottom:1px solid rgb(229, 229, 229);
    background: #ffffff;
    margin-left: -20px;
    height: 45px;
    top: 50px;
}

a.active_settings_row{
    background-color: rgb(234, 234, 234);
}

.dropdown-menu a.active_settings_row:hover{
    background-color: rgb(234, 234, 234);
    color: #555555;
    cursor: default; 
}

#settings_density:hover{
    background-color:#ffffff;
    color: #555555;
    cursor: default; 
}

#container{
    margin-top:-12px;
}

#main_content{
    margin-top: 5px; 
    position:relative;
}

.dropdown-menu a.menu-rsettigns{
    padding: 3px 35px;
    cursor: pointer;
    cursor: hand; 
}

.btn-group{
    float: right;
    margin-right: 25px;
}

#dropdown_menu{
    float: right;
    margin-right: 50px;
    right: 0;
    left: -63px;
}

#btn_delete{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

#sidebar{
    //float: left;
    //width: 25%;
}

#pageBody{
    //float:left;
    //width: 100%;
    //width: auto;
    margin-left: 20px;
    //margin-right: 20px;
}

#name_project{
    //min-width: 120px;
    float: left;
}

#name_page{
    width: 300px;
    float: left;
}

#sumatra_logo{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#div_listOfprojects {
    //margin-left: 10px;
    width: 60%;
    margin-top: 10px;
}

#side_projectDetail{
    //margin-left: 10px;
}

#side_projectDetail{
    height: 260px;
}

#tab_general_text{
    float:left;
    width: 10%;
    height: 400px;
}
#tab_general_content{
    float: left;
    margin-left: 0;
}

.subitems{
    margin-left: 20px;
    font-size: 10px;
}

/* Subnav */
.subnav {
  //width: 60%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-left: 20px;
  float: left;
  //margin-right:20px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
#newrecord{
    margin-top: 10px;
    margin-bottom:10px;
    //float:left;
    //margin-left:20px;
}


.a-subnav{
    width:100px;
    text-align: center;
}

#text_subnav{
    margin-left:20px;
    margin-top:1px;
    font-size:20px;
    height: 27px;
    padding-right:20px;
    //width: 300px;
}

#btn_search{
    margin-right:20px;  
    margin-bottom:9px;
    //position:relative;
    //float:left;
}

span#icon_cdown{   
    //display:none;
    font-family:verdana;
    cursor:pointer;
    cursor:hand;
    color:#38468F;
    font-weight:bold;
    position:relative;
    height:27px;
    left:-18px; 
    opacity: 0.2;
}

#menu_search{
    left: inferit;
    margin-top: 35px;
}

#menu_search label.control-label{
    width:35%;
    float:left;
    padding:3px 15px;   
}
.controls{
    margin-top:5px;
}

#label_datewith{
    width:15%;
    float:left;
    padding:3px 15px; 
}

#idatewith{
    float:left;
    width: 80px;
    height: 27px;
    background-color:rgb(245, 245, 245);
    background-image:-moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241));
    color:rgb(68, 68, 68);
    border:1px solid rgba(0, 0, 0, 0.1);
    padding:0pt 18px 0pt 6px;
    text-align:center;
    line-height:27px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
}
#idatewith:hover{
    border:1px solid #C6C6C6;
    cursor: default;
}

#span_icon{ 
    float:right;
}
#span_icon i{
    opacity:0.3;
    position:absolute;
}
#a_label{
    color:#38468F;
    font-weight:bold;
    position:relative;
    height:27px;
    left:-18px;  
}

#menu_datewith li a:hover{
    color: #ffffff;
}
#menu_datewith {
    top: inherit;
}

#t_id{
    float:left;
    width: 30px;
    height: 27px;
    color:rgb(68, 68, 68);
    text-align:center;
    line-height:27px;
}

#i_date{
    margin-bottom: 15px;
}

.it{
    border-radius: 0px 0px 0px 0px;
    margin-bottom:0px;
    width: 220px;
    border: 1px solid #AAAAAA;
}

#myModal{
    visibility: hidden;
    width: 40%;
    max-height:80%;
}

#mod_newrec{
    visibility: hidden;
    min-height: 50%;
    width: 450px;
}
.control-label{
    padding: 3px 15px;
    width: 20%;
    float:left;
}

.mod_input{
    float:left;
    width: 70%;
}

.d-mod{
    padding-top: 30px;
    //position: absolute;
}

#mReason{
    resize: vertical;
    height: 100px;
}
.hide_column{
    display:none;
}
#close_menu{
    font-size: 20px;
    padding-right:2px;
}

.s-close{
    font-size: 40px;
    padding: 5px 5px;
}







