{% load filters %}

<div class="accordion">
             <h2 class="nav-toggle">General info</h2>
             <fieldset class = 'field-acc'>
                <div class="control-group">
                    <table id = 'gen_info'>
                        <tr><th>Label:</th><td></td></tr>
                        <tr><th>Reason:</th><td></td></tr>
                        <tr><th>Outcome:</th><td></td></tr>
                        <tr><th>Timestamp:</th><td></td></tr>
                        <tr><th>Duration:</th><td></td></tr>
                        <tr><th>Executable:</th><td></td></tr>
                        <tr><th>Launch mode:</th><td></td></tr>
                        <tr><th>Repository:</th><td></td></tr>
                        <tr><th>Main file:</th><td></td></tr>
                        <tr><th>Version:</th><td></td></tr>
                        <tr><th>Arguments:</th><td></td></tr>
                        <tr><th>Tags:</th><td></td></tr>
                    </table>
                </div>
             </fieldset>
</div>
<div class="accordion">
    <h2 class="nav-toggle">Output files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table>
                    <tr><td colspan="4"></td></tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
<div id="accordion-js" class="accordion">
    <h2 class="nav-toggle">Parameters</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group"></div>
        </fieldset>
    </form>
</div>
<div class="accordion">
    <h2 class="nav-toggle">Dependencies</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>Path</th><th>Version</th></tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
<div class="accordion">
    <h2 class="nav-toggle">Platform information</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>IP address</th><th>Processor</th>
                        <th colspan="2">Architecture</th><th>System type</th>
                        <th>Release</th><th>Version</th>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
<div class="accordion">
    <h2 class="nav-toggle">Stdout & Stderr</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <div style='width:94%'>
                    <pre>
                    </pre>
                </div>
            </div>
        </fieldset>
    </form>
</div>