{% load filters %}

<script type="text/javascript" src="/media/table.js"></script>
<div id = 'main_content'>
     <div id='newrecord'>
            <div style='float:left; position:relative;'>
                <a id='btn_newrec' class='btn btn-danger btn-large' style='width:100px' data-toggle="modal" href="#mod_newrec">
                    <i class="icon-file"></i> New record
                </a>
            </div>
            <div id='head-div'><h2><a href="/{{project_name}}/about/" style='color:rgb(102, 157, 199)'>{{project_name}}{% if tag %} tagged with {{tag}}{% endif %}</a></h2></div>
                <div style='float:right; margin-right:50px'>
                <div class="btn-group paginator">
                    <div id='pagin_info'>
                        <b id='start_indx'>{{page_list.start_index}}</b> - <b id='b_nbrec'>{{page_list.end_index}}</b> of <b id='b_nbsim'>{{paginator.count}}</b>
                    </div>
                    <ul class="dropdown-menu" style='min-width:0px'>
                        <li>
                            {% if page_list.has_previous %}
                                <a class='quick-pag'>Newest</a>
                            {% else %}
                                <a class='p-inac'>Newest</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if page_list.has_next %}
                                <a class='quick-pag'>Oldest</a>
                            {% else %}
                                <a class='p-inac'>Oldest</a> 
                            {% endif %}
                        </li>
                    </ul>
                </div>
                    <div id = 'next_page_number' style='display:none'>{{page_list.next_page_number}}</div>
                    <div id = 'previous_page_number' style='display:none'>{{page_list.previous_page_number}}</div>
                    <div style='float:left; margin-left:10px;'>
                        {% if page_list.has_previous %}<a class="page gradient" id='older'>{% else %}<a class="page gradient inactive" id='older'>{% endif %}<i class="pagin icon-chevron-left"></i></a>
                        {% if page_list.has_next %}<a class="page gradient" id='newer'>{% else %}<a class="page gradient inactive" id='newer'>{% endif %}<i class="pagin icon-chevron-right"></i></a>
                    </div>
                </div>
    </div>


    <div id='head_t' class='nonselect'>
        {% if 'repository' not in settings.table_HideColumns %}
        <input type="radio" id="repository" />
        <label class='t-item head-item' id='l-repository' for="repository" style='width: {{width.head}}'>Repository<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        

        {% if 'label' not in settings.table_HideColumns %}
        <input type="radio" id="label" />
        <label class='t-item head-item' id='l-label' for="label" style='width: {{width.label}}'>Label<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'tag' not in settings.table_HideColumns %}
        <input type="radio" id="tag" />
        <label class='t-item head-item' id='l-tag'  for="tag" style='width: {{width.head}}'>Tag<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'reason' not in settings.table_HideColumns %}
        <input type="radio" id="reason" />
        <label class='t-item head-item' id='l-reason'  for="reason" style='width: {{width.head}}'>Reason<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'outcome' not in settings.table_HideColumns %}
        <input type="radio" id="outcome" />
        <label class='t-item head-item' id='l-outcome'  for="outcome" style='width: {{width.head}}'>Outcome<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'duration' not in settings.table_HideColumns %}
        <input type="radio" id="duration" />
        <label class='t-item head-item' id='l-duration' for="duration" style='width: {{width.head}}'>Duration<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'processes' not in settings.table_HideColumns %}
        <input type="radio" id="processes" />
        <label class='t-item head-item' id='l-processes' for="processes" style='width: {{width.head}}'>Processes<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'date' not in settings.table_HideColumns %}
        <input type="radio" id="date" />
        <label class='t-item head-item' id='l-date' for="date" style='width: {{width.head}}'>Date<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'time' not in settings.table_HideColumns %}
        <input type="radio" id="time" />
        <label class='t-item head-item' id='l-time' for="time" style='width: {{width.head}}'>Time<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'ename' not in settings.table_HideColumns %}
        <input type="radio" id="ename" />
        <label id='l-ename' class='t-item head-item' for="ename" style='width: {{width.head}}'>Executable name<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'eversion' not in settings.table_HideColumns %}
        <input type="radio" id="eversion" />
        <label id='l-eversion' class='t-item head-item' for="eversion" style='width: {{width.head}}'>Executable version<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'main' not in settings.table_HideColumns %}
        <input type="radio" id="main" />
        <label class='t-item head-item' id='l-main' for="main" style='width: {{width.head}}'>Main file<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'version' not in settings.table_HideColumns %}
        <input type="radio" id="version" />
        <label class='t-item head-item' id='l-version' for="version" style='width: {{width.head}}'>Version<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
        
        {% if 'arguments' not in settings.table_HideColumns %}
        <input type="radio" id="arguments" />
        <label class='t-item head-item' id='l-arguments' for="arguments" style='width: {{width.head}}'>Arguments<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>{% endif %}
    </div>
    <ol id ='ol-content'>
    {% for record in object_list %}
        <li class='record {{settings.display_density}}'>
            {% if 'repository' not in settings.table_HideColumns %}<div class='row-item' id='repository-t' style='width: {{width.head}}'>{{record.repository.url|cut:"repo"}}<div style='display:none'>{{record.repository.url}}</div></div>
            {% endif %}

            {% if 'label' not in settings.table_HideColumns %}
            <div class='row-item' id='label-t' style='width: {{width.label}}'>{{record.label}}</div>
            {% endif %}

            {% if 'tag' not in settings.table_HideColumns %}
                {% if tag %}
                    <div class='row-item' id='tag-t' style='width: {{width.head}}'>{% for other_tag in record.tag_objects %}{% if tag == other_tag %}{{tag}} {% else %}<a href="/{{project_name}}/tag/{{other_tag.name}}/">{{other_tag.name}}</a> {% endif %}{% endfor %}</div>
                {% else %}
                    <div class='row-item' id='tag-t' style='width: {{width.head}}'>{{record.tags|link:"tag/%s/"}}</div>
                {% endif %}
            {% endif %} 

            {% if 'reason' not in settings.table_HideColumns %}           
            <div class='row-item' id='reason-t' style='width: {{width.head}}'>{{record.reason}}</div>
            {% endif %}

            {% if 'outcome' not in settings.table_HideColumns %}
            <div class='row-item' id='outcome-t' style='width: {{width.head}}'>{{record.outcome}}</div>
            {% endif %}

            {% if 'duration' not in settings.table_HideColumnsor %}
            <div class='row-item' id='duration-t' style='width: {{width.head}}'>{{record.duration|human_readable_duration}}</div>
            {% endif %}

            {% if 'processes' not in settings.table_HideColumns %}
            <div class='row-item' id='processes-t' style='width: {{width.head}}'>{{record.launch_mode.get_parameters.n|default:"1"}}</div>
            {% endif %}

            {% if 'date' not in settings.table_HideColumns %}
            <div class='row-item' id='date-t' style='width: {{width.head}}'>{{record.timestamp|date:"d/m/Y"}}</div>
            {% endif %}

            {% if 'time' not in settings.table_HideColumns %}
            <div class='row-item' id='time-t' style='width: {{width.head}}'>{{record.timestamp|date:"H:i:s"}}</div>
            {% endif %}

            {% if 'ename' not in settings.table_HideColumns %}
            <div class='row-item' id='ename-t' style='width: {{width.head}}'>{{record.executable.name}}</div>
            {% endif %}

            {% if 'eversion' not in settings.table_HideColumns %}
            <div class='row-item' id='eversion-t' style='width: {{width.head}}'>{{record.executable.version}}</div>
            {% endif %}

            {% if 'main' not in settings.table_HideColumns %}
            <div class='row-item' id='main-t' style='width: {{width.head}}'><a class='id-script' href=''>{{record.main_file}}</a></div>
            {% endif %}

            {% if 'version' not in settings.table_HideColumns %}
            <div class='row-item' id='version-t' style='width: {{width.head}}'>{{record.version|cut:"vers"}}{% if record.diff %}*{% endif %}<div style='display:none'>{{record.version}}</div></div>
            {% endif %}

            {% if 'arguments' not in settings.table_HideColumns %}
            <div class='row-item' id='arguments-t' style='width: {{width.head}}'>{{record.script_arguments}}</div>
            {% endif %}
            <br style='clear:both'>
        </li>
        {% endfor %}
    </ol>
</div>