{% load filters %}

 <script type="text/javascript" src="/media/table.js"></script>

 <div id ='settings_table' style='display:none'>{{settings.display_density}}</div>
 <div id='newrecord'>
        <div style='float:left; position:relative;'>
            <a id='btn_newrec' class='btn btn-danger btn-large' style='width:100px' data-toggle="modal" href="#mod_newrec">
                <i class="icon-file"></i> New record
            </a>
        </div>
        <div id='head-div'><h2><a href="/{{project_name}}/about/" style='color:rgb(102, 157, 199)'>{{project_name}}{% if tag %} tagged with {{tag}}{% endif %}</a></h2></div>
            <div style='float:right; margin-right:34px'>
            <div class="btn-group paginator">
                <div id='pagin_info'>
                    <b id='start_indx'>{{page_list.start_index}}</b> - <b id='b_nbrec'>{{page_list.end_index}}</b> of <b id='b_nbsim'>{{paginator.count}}</b>
                </div>
                <ul class="dropdown-menu" style='min-width:0px'>
                    <li>
                        {% if page_list.has_previous %}
                            <a class='quick-pag'>Newest</a>
                        {% else %}
                            <a class='p-inac'>Newest</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_list.has_next %}
                            <a class='quick-pag'>Oldest</a>
                        {% else %}
                            <a class='p-inac'>Oldest</a> 
                        {% endif %}
                    </li>
                </ul>
            </div>
                <div id = 'next_page_number' style='display:none'>{{page_list.next_page_number}}</div>
                <div id = 'previous_page_number' style='display:none'>{{page_list.previous_page_number}}</div>
                <div style='float:left; margin-left:10px;'>
                    {% if page_list.has_previous %}<a class="page gradient" id='older'>{% else %}<a class="page gradient inactive" id='older'>{% endif %}<i class="pagin icon-chevron-left"></i></a>
                    {% if page_list.has_next %}<a class="page gradient" id='newer'>{% else %}<a class="page gradient inactive" id='newer'>{% endif %}<i class="pagin icon-chevron-right"></i></a>
                </div>
            </div>
</div>

<div id = 'main_content'>
 <div id='head_t' class='nonselect'>
        <input type="radio" id="label" />
        <label class='t-item head-item' id='l-label' for="label">Label<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="tag" />
        <label class='t-item head-item' id='l-tag'  for="tag">Tag<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="reason" />
        <label class='t-item head-item' id='l-reason'  for="reason">Reason<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="outcome" />
        <label class='t-item head-item' id='l-outcome'  for="outcome">Outcome<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="duration" />
        <label class='t-item head-item' id='l-duration' for="duration">Duration<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="processes" />
        <label class='t-item head-item' id='l-processes' for="processes">Processes<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="date" />
        <label class='t-item head-item' id='l-date' for="date">Date<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="time" />
        <label class='t-item head-item' id='l-time' for="time">Time<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="ename" />
        <label id='l-ename' class='t-item' for="ename">Executable name<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="eversion" />
        <label id='l-eversion' class='t-item' for="eversion">Executable version<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="repository" />
        <label class='t-item head-item' id='l-repository' for="repository">Repository<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="main" />
        <label class='t-item head-item' id='l-main' for="main">Main file<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="version" />
        <label class='t-item head-item' id='l-version' for="version">Version<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
        
        <input type="radio" id="arguments" />
        <label class='t-item head-item' id='l-arguments' for="arguments">Arguments<span class='s-arrow'><span id='up' class='arr-s'>&#x25B2;</span><span id='down' class='arr-s'>&#x25BC;</span></span></label>
    </div>
    <ol style='margin-left:0px; margin-right: 25px;'>
    {% for record in object_list %}
        <li class='record nonselect'>
            <div class='row-item' id='label-t'>{{record.label}}</div>
            {% if tag %}
                <div class='row-item' id='tag-t'>{% for other_tag in record.tag_objects %}{% if tag == other_tag %}{{tag}} {% else %}<a href="/{{project_name}}/tag/{{other_tag.name}}/">{{other_tag.name}}</a> {% endif %}{% endfor %}</div>
            {% else %}
                <div class='row-item' id='tag-t'>{{record.tags|link:"tag/%s/"}}</div>
            {% endif %}           
            <div class='row-item' id='reason-t'>{{record.reason}}</div>
            <div class='row-item' id='outcome-t'>{{record.outcome}}</div>
            <div class='row-item' id='duration-t'>{{record.duration|human_readable_duration}}</div>
            <div class='row-item' id='processes-t'>{{record.launch_mode.get_parameters.n|default:"1"}}</div>
            <div class='row-item' id='date-t'>{{record.timestamp|date:"d/m/Y"}}</div>
            <div class='row-item' id='time-t'>{{record.timestamp|date:"H:i:s"}}</div>
            <div class='row-item' id='name-t'>{{record.executable.name}}</div>
            <div class='row-item' id='eversion-t'>{{record.executable.version}}</div>
            <div class='row-item' id='repository-t'>{{record.repository.url|cut:"repo"}}<div style='display:none'>{{record.repository.url}}</div></div>
            <div class='row-item' id='main-t'><a class='id-script' href=''>{{record.main_file}}</a></div>
            <div class='row-item' id='version-t'>{{record.version|cut:"vers"}}{% if record.diff %}*{% endif %}<div style='display:none'>{{record.version}}</div></div>
            <div class='row-item' id='arguments-t'>{{record.script_arguments}}</div>
            <br style='clear:both'>
        </li>
        {% endfor %}
    </ol>
</div>
