{% load filters %}
<style type="text/css">
    {% for item in settings.table_HideColumns %}
        #l-{{item}}{display:none;}
        #{{item}}-t{display:none;}
    {% endfor%}
    #head_t label#l-label, .record .row-item#label-t{width:{{width.label}};}
    #head_t label:not(#l-label), .record .row-item:not(#label-t){width:{{width.head}};}
    br {clear: both}
</style><!-- hide the columns which was selected in settings to be hidden -->
<div id = 'main_content'>
    <div style = 'height:40px;'>
        <a id='btn_newrec' class='btn btn-danger btn-large' style='width:100px;float:left'>
            <i class="icon-file"></i> New record
        </a>
        <div id='head-div'><h2><a href="/{{project_name}}/" style='color:rgb(102, 157, 199)'>{{project_name}}</a>{% if tags %}<span style='padding-left:10px'>tagged with {{tags}}</span>{% endif %}</h2></div>

        <div id = 'div-paginator'>
            <div class="btn-group paginator">
                        <div id='pagin_info'>
                            <b id='start_indx'>{{page_list.start_index}}</b> - <b id='b_nbrec'>{{page_list.end_index}}</b> of <b id='b_nbsim'>{{paginator.count}}</b>
                        </div>
                        <ul class="dropdown-menu" style='min-width:0px'>
                            <li>
                                {% if page_list.has_previous %}
                                    <a class='quick-pag'>Newest</a>
                                {% else %}
                                    <a class='p-inac'>Newest</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if page_list.has_next %}
                                    <a class='quick-pag'>Oldest</a>
                                {% else %}
                                    <a class='p-inac'>Oldest</a> 
                                {% endif %}
                            </li>
                        </ul>
                        <div id = 'next_page_number' style='display:none'>{{page_list.next_page_number}}</div>
                        <div id = 'previous_page_number' style='display:none'>{{page_list.previous_page_number}}</div>
                        <div style='float:left; margin-left:10px;'>
                            <a class="page gradient {% if not page_list.has_previous %}inactive{% endif %}" id='older'><i class="pagin icon-chevron-left"></i></a>
                            <a class="page gradient {% if not page_list.has_next %}inactive{% endif %}" id='newer'><i class="pagin icon-chevron-right"></i></a>
                        </div>
            </div>
        </div>
    </div>

    <div id='head_t' class='nonselect'>  
        <div id='selection_header' style='display:none'>
            <div id = "d-nbrec"></div>
            <div id = "d-delete" data-toggle="modal" href="#deleteModal">delete records</div>
            <div id = "d-tags" data-toggle="modal" href="#setTagsModal">edit tags</div>
            <div id = "d-comp" data-toggle="modal" href="#compareSim">compare simulations</div>
        </div>  
        <div id = 'default_header' style="position:relative;">  
            <input type="radio" id="repository" />
            <label class='t-item head-item' id='l-repository' for="repository-t">Repository</label> 
            <input type="radio" id="label" />
            <label class='t-item head-item' id='l-label' for="label-t">Label</label>
            <input type="radio" id="tag" />
            <label class='t-item head-item' id='l-tag' for="tag-t">Tag</label>   
            <input type="radio" id="reason" />
            <label class='t-item head-item' id='l-reason' for="reason-t">Reason</label>   
            <input type="radio" id="outcome" />
            <label class='t-item head-item' id='l-outcome' for="outcome-t">Outcome</label>    
            <input type="radio" id="duration" />
            <label class='t-item head-item' id='l-duration' for="duration-t">Duration</label>     
            <input type="radio" id="processes" />
            <label class='t-item head-item' id='l-processes' for="processes-t">Processes</label>    
            <input type="radio" id="date" />
            <label class='t-item head-item' id='l-date' for="date-t">Date</label>
            <input type="radio" id="time" />
            <label class='t-item head-item' id='l-time' for="time-t">Time</label>      
            <input type="radio" id="ename" />
            <label id='l-ename' class='t-item head-item' for="ename-t">Executable name</label>    
            <input type="radio" id="eversion" />
            <label id='l-eversion' class='t-item head-item' for="eversion-t">Executable version</label>  
            <input type="radio" id="main" />
            <label class='t-item head-item' id='l-main' for="main-t">Main file</label> 
            <input type="radio" id="version" />
            <label class='t-item head-item' id='l-version' for="version-t">Version</label> 
            <input type="radio" id="arguments" />
            <label class='t-item head-item' id='l-arguments' for="arguments-t">Arguments</label>
        </div>
    </div>
    <ol id ='ol-content'>
    {% for record in object_list %}
      <li class='record {{settings.display_density}}'>
        <div id = 'version-hid' class='d-hid'>{{record.version}}</div>
        <div id = 'repo-hid' class='d-hid'>{{record.repository.url}}</div>
        <div class='row-item' id='repository-t'><span class="span-box">{{record.repository.url|cut:"repo"}}</span></div>
        <div class='row-item' id='label-t'><a class='href_lab' href=''>{{record.label}}</a></div>
        {% if tag %}
            <div class='row-item' id='tag-t'>{% for other_tag in record.tag_objects %}{% if tag == other_tag %}{{tag}} {% else %}<a href="/{{project_name}}/tag/{{other_tag.name}}/">{{other_tag.name}}</a> {% endif %}{% endfor %}</div>
        {% else %}
            <div class='row-item' id='tag-t'>{{record.tags|link:"tag/%s/"}}</div>
        {% endif %}
        <div class='row-item' id='reason-t'>{{record.reason}}</div>
        <div class='row-item' id='outcome-t'>{{record.outcome}}</div>
        <div class='row-item' id='duration-t'>{{record.duration|human_readable_duration}}</div>
        <div class='row-item' id='processes-t'>{{record.launch_mode.get_parameters.n|default:"1"}}</div>
        <div class='row-item' id='date-t'>{{record.timestamp|date:"d/m/Y"}}</div>
        <div class='row-item' id='time-t'>{{record.timestamp|date:"H:i:s"}}</div>
        <div class='row-item' id='ename-t'>{{record.executable.name}}</div>
        <div class='row-item' id='eversion-t'>{{record.executable.version}}</div>
        <div class='row-item' id='main-t'><a class='id-script' href=''>{{record.main_file}}</a></div>
        <div class='row-item' id='version-t'><span class="span-box">{{record.version|cut:"vers"}}{% if record.diff %}*{% endif %}</span></div>
        <div class='row-item' id='arguments-t'><a class='href_args' href=''>{{record.script_arguments}}</a></div>
        <br>
      </li>
    {% endfor %}
    </ol>
</div>
<script type="text/javascript" src="/media/js/table.js"></script>