<div class="modal" id="deleteModal">
  <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Delete records</h3>
  </div>
  <div class="modal-body">
        <p>Are you sure you want to remove selected records?</p>
  </div>
  <div class="modal-footer">
        <a id="y-delRec" class="btn btn-primary">Yes</a>
        <a class="cancel btn">No</a>
  </div>
</div> 
<script type = 'text/javascript'>
$(document).ready(function(){ 
    // click on the "delete record" button
    $('#y-delRec').click(function(){
        var success = false;
        deleteArr = new Array(); // records to delete
        $('li.ui-selected').each(function(){
            deleteArr.push($(this).find('#label-t a').html())
        });
        $.ajax({
            type: 'POST',
            url: 'delete/',
            data: {'delete':deleteArr,'delete_data':true}, //presume that user always want to delete data
            success:function(){
                success = true;
            },
            async: false
        });
        if (success){
            window.open('.','_self');
        };
    });
});
</script>