<div id='new-rec' class='modal'>
    <div style="margin-top:3px; height:42px; line-height:34px; font-size:16px; background-color:Lavender; padding-left:10px;">
    New simulation
        <div id='col-newrec' style='width:30px; float:right; background-color:AliceBlue;font-size:28px; padding:10px;cursor: pointer;'>
            <i class='pagin icon-chevron-left'></i><i class='pagin icon-chevron-left'></i>
        </div>
    </div>
        <!-- <div style='position:absolute; margin-top:50px'> -->
        <div class = 'd-newrec'>
            <label class='control-label' for='mLabel'>Label</label> 
            <input id='mLabel' class='input-medium' type='text'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mReason'>Reason</label> 
            <textarea id='mReason' class='input-medium' type='text'></textarea>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mTag'>Tag</label> 
            <input id='mTag' class='input-medium' type='text'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mExec'>Executable path</label> 
            <input id='mExec' class='input-medium' type='text' value='{{path}}'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mFile'>Main file</label> 
            <select data-placeholder="" class="chzn-select" id='select-main'>
                    <option value="">&nbsp;</option> 
                    {% for item in files %}
                        <option value="{{item}}">{{item}}</option>
                    {% endfor %}
            </select> 
            <div><a class='link-file' id='file-main' href='#'></a></div>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mArg'>Arguments</label>
            <select data-placeholder="" class="chzn-select" id='select-arg'>
                    <option value="">&nbsp;</option> 
                    {% for item in files %}
                        <option value="{{item}}">{{item}}</option>
                    {% endfor %}
            </select>
            <div><a class='link-file' id='file-arg' href='#'></a></div>
        </div>
        <div class = 'd-newrec'>
            <button id='btn_run' class='btn btn-success btn-large' style='width:150px; display: block ;margin-left: auto; margin-right: auto;'>Run</button>
        </div>
</div>
<div id='arg-cont' class='modal'>
    <div style="margin-top:3px; height:42px; line-height:34px; font-size:16px; background-color:Lavender;">
        <div id='col-arg' style='width:30px; float:left; background-color:AliceBlue;font-size:28px; padding:10px;cursor: pointer;'>
            <i class='pagin icon-chevron-right'></i><i class='pagin icon-chevron-right'></i>
        </div>
        <span id = 'name-arg' style='padding-left:10px;font-weight:bold'></span>
    </div>
    <div id='file-cont'></div>
    <div>
      <button id='btn_save-arg' class='btn btn-success btn-large' style='width:150px; display: block ;margin-left: auto; margin-right: auto; margin-top:20px'>Save</button>
    </div>
</div>
<script type = 'text/javascript'>
$(document).ready(function(){ 
     var editor = CodeMirror.fromTextArea(document.getElementById('file-cont'), {
                    lineNumbers: true,
                    theme: 'ambiance'
                });

     $(".chzn-select-deselect").chosen({allow_single_deselect:true});

     $(".chzn-select").chosen().change(function(event){
        $div_href = $('#' + event.target.id).next().next().children();
        if (event.target.value.length > 0){
             $div_href.html('show content');
        } else {
             $div_href.html('');
             $('#arg-cont').css('display', 'none');
        }
    });

     $('#file-arg, #file-main').click(function(){
        var cont_href = $('.link-file').not(this);
        if (cont_href.html().length > 0) cont_href.html('show content'); // two divs with the anchor tag
        if ($(this).html().indexOf('show') >= 0){
            $('#arg-cont').css('display', 'block')
                          .css('top', $('.navbar-fixed-top').height() + 0.2);
            $(this).html('hide content');
            $file_name = $(this).parent().prev().find('span').html();
            $('#name-arg').html($file_name); // name of the file (header of the window)  
            $.ajax({
              type: 'GET',
              url: 'nolabel/datafile',
              data: {show_args: true, name: $file_name}
            }).done(function(data) {  
                editor.setValue(data);
            });
        }else{
            $('#arg-cont').css('display', 'none');
            $(this).html('show content');
        }
     });

     $('#btn_save-arg').on('click', function(){
          var content = editor.getValue();
          var arg_file = $("#name-arg").html();
          $.post("/{{project_name}}/simulation", {'content':content, 'arg_file':arg_file}); 
     });

    $('#col-arg').on('click', function(){
         var cont_href = $('.link-file');
         $('#arg-cont').css('display', 'none');
         cont_href.each(function(){
            if ($(this).html().length > 0) $(this).html('show content');;
         });   
    });
});
</script>