<div id='new-rec' class='modal'>
    <div style="margin-top:3px; height:42px; line-height:34px; font-size:16px; background-color:Lavender; padding-left:10px;">
    New simulation
        <div id='col-newrec' style='width:30px; float:right; background-color:AliceBlue;font-size:28px; padding:10px;cursor: pointer;'>
            <i class='pagin icon-chevron-left'></i><i class='pagin icon-chevron-left'></i>
        </div>
    </div>
        <!-- <div style='position:absolute; margin-top:50px'> -->
        <div class = 'd-newrec'>
            <label class='control-label' for='mLabel'>Label</label> 
            <input id='mLabel' class='input-medium' type='text'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mReason'>Reason</label> 
            <textarea id='mReason' class='input-medium' type='text'></textarea>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mTag'>Tag</label> 
            <input id='mTag' class='input-medium' type='text'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mExec'>Executable path</label> 
            <input id='mExec' class='input-medium' type='text'>
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mFile'>Main file</label> 
            <input id='mFile' class='input-medium' type='text'>  
        </div>
        <div class = 'd-newrec'>
            <label class='control-label' for='mArg'>Arguments</label>
            <select data-placeholder=" " class="chzn-select" id='select-arg'>
                    <option value=""></option> 
                    {% for item in files %}
                        <option value="{{item}}">{{item}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class = 'd-newrec'>
            <button id='btn_run' class='btn btn-success btn-large' style='width:150px; display: block ;margin-left: auto; margin-right: auto;'>Run</button>
        </div>
</div>
<script type = 'text/javascript'>
$(document).ready(function(){ 

     $(".chzn-select-deselect").chosen({allow_single_deselect:false});


     $(".chzn-select").chosen().change(function(event){
        var  target = $(event.target),
             currentDataSet = target.val();
        console.log(event);    
        var nbWind = $('.resizable').length;
        $.ajax({
          type: 'GET',
          url: 'nolabel/datafile',
          data: {show_args: true, name: target[0].value}
        }).done(function(data) {  

            id = ['code_wind',nbWind].join('');
                $el = $('<div/>', {
                    id: id,
                    class: 'resizable'
                });

                $el.appendTo('#wrapper_code');
                 var editor = CodeMirror(document.getElementById(id), {
                    mode: {name: "python",
                           version: 2,
                           singleLineStringErrors: false},
                    lineNumbers: true,
                    indentUnit: 4,
                    tabMode: "shift",
                    matchBrackets: true
                  });
                editor.setOption("theme", "ambiance"); 
                //this way we hide the element. CodeMirrow is the new div.   
                $('.resizable').css('display','block')
                               .css('height','0px')
                               .css('width','0px');  
                editor.setValue(data);
                editor.refresh();
                $(".CodeMirror").draggable({handle:"div.ui-widget-header", snap: true});
                $(".CodeMirror").resizable();
            });
     });
});
</script>