{% extends "base.html" %}

{% block title %}List of projects{% endblock %}

{% block header %}
    {% include "header.html" %} 
{% endblock %} 

{% block content %}
    {% if object_list %}
    <div id = 'div_listOfprojects'>
        <table class="table table-bordered" >
            <tr>
                <th>ID</th><th>Name</th><th>Description</th><th>Records</th>
            </tr>
            {% for project in object_list %}
            <tr class="{% cycle odd,even %}">
                <td><a href="/{{project.id}}/">{{project.id}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.record_set.count}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p class="warning"><strong>No projects found</strong></p>
    {% endif %}
{% endblock %}
