{% extends "base.html" %}

{% block title %}{{project.id}}:About{% endblock %}

{% block content %}
<div id = 'side_projectDetail'>
    <form id = 'target' action='.' method='POST' style='margin-top:10px;'>
        
    {{form.errors}}

    <table>
        {{form}}
    </table>
    <input id='but_submit' type="submit" value='Save changes' class="btn btn-success" style='float:left; margin-left:71px; width: 220px'/>
    </form>
</div>

{% if notification %}
<script type="text/javascript">
  $(document).ready(function() {
      $.jGrowl('All changes were stored',{
      theme:  'success',
      position:  'bottom-left'});
  });
</script>
{% endif %}
{% endblock %}