{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}: {{record.label}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{record.label}}/"> {{record.label}}</a></li>
{% endblock %}
    
{% block content %}

<div class="accordion">
    <h2 class="nav-toggle">General info</h2>
    <form action='{{ request.path }}' method='POST' id="actions" name="actions">
        {{form.errors}}
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table id = 'gen_info'>
                    <tr><th>Label:</th><td>{{record.label}}</td></tr>
                    <tr><th>Reason:</th><td>{{form.reason}}</td></tr>
                    <tr><th>Outcome:</th><td>{{form.outcome}}</td></tr>
                    <tr><th>Timestamp:</th><td>{{record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
                    <tr><th>Duration:</th><td>{{record.duration|human_readable_duration}}</td></tr>
                    <tr><th>Executable:</th><td>{{record.executable.name}} version {{record.executable.version}} ({{record.executable.path}})</td></tr>
                    <tr><th>Launch mode:</th><td>{% ifequal record.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{record.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
                    <tr><th>Repository:</th><td>{{record.repository.url}}</td></tr>
                    <tr><th>Main file:</th><td>{{record.main_file}}</td></tr>
                    <tr><th>Version:</th><td>{{record.version}}{% if record.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
                    {% if record.script_arguments %}<tr><th>Arguments:</th><td>{{record.script_arguments}}</td></tr>{% endif %}
                    <tr><th>Tags:</th><td>{{form.tags}}</td></tr>
                </table>
            </div>
            <div class='form-actions' style='width: 400px'>
                    <button type="submit" class="btn btn-primary headeritem">Save changes</button>
                    <button type="submit" class="btn headeritem" name="delete">Delete record</button>
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Input files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if record.input_data.count %}
                <table>
                    <tr><td colspan="4">{{record.input_datastore.access_parameters.root}}</td></tr>
                    {% for file in record.input_data.all %}
                           <tr class="{% cycle odd even %}"><td><a href="datafile?path={{file.path}}&digest={{file.digest}}&type=input">{{file.path}}</a></td>
                           <td>{{file.digest}}</td>
                           <td>{{file.metadata.mimetype|default:""}}</td>
                           <td>{{file.metadata.size|filesizeformat}}</td></tr>
                    {% endfor %}
                </table>
                {% else %}
                    no input files
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>


<div class="accordion">
    <h2 class="nav-toggle">Output files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table>
                    <tr><td colspan="4">{{record.datastore.access_parameters.root}}</td></tr>
                        {% for file in record.output_data.all %}
                                <tr class="{% cycle 'odd' 'even' %}"><td><a href="datafile?path={{file.path}}&digest={{file.digest}}">{{file.path}}</a></td>
                                <td>{{file.digest}}</td>
                                <td>{{file.get_metadata.mimetype|default:""}}</td>
                                <td>{{file.get_metadata.size|filesizeformat}}</td></tr>
                        {% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>

<div id="accordion-js" class="accordion">
    <h2 class="nav-toggle">Parameters</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if parameters %}            
                        {% for name, value in parameters.items %}<div class='label label-success' style='display:inline-block'>{{name}}</div><pre style='margin-top:5px'>{{value}}</pre>{% endfor %}
                {% else %}
                    no parameters
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Dependencies</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>Path</th><th>Version</th></tr>
                    {% for dep in record.dependencies.all %}
                    <tr class="{% cycle 'odd' 'even' %}"><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>                   

<div class="accordion">
    <h2 class="nav-toggle">Platform information</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>IP address</th><th>Processor</th>
                        <th colspan="2">Architecture</th><th>System type</th>
                        <th>Release</th><th>Version</th>
                    </tr>
                    {% for platform in record.platforms.all %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{platform.network_name}}</td>
                        <td>{{platform.ip_addr}}</td>
                        <td>{{platform.processor}} {{platform.machine}}</td>
                        <td style='padding-right:5px'>{{platform.architecture_bits}}</td>
                        <td>{{platform.architecture_linkage}}</td>
                        <td>{{platform.system_name}}</td>
                        <td>{{platform.release}}</td>
                        <td>{{platform.version}}</td>
                    </tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Stdout & Stderr</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if record.stdout_stderr %}
                <div style='width:94%'>
                    <pre>{{ record.stdout_stderr }}</pre>
                </div>
                {% else %}
                no outputs
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>
<script type = 'text/javascript' src='/media/js/jquery-1.7.2.min.js'></script>
<script type = 'text/javascript'>
$(document).ready(function(){
        $('.accordion').find('h2').click(function(){
		    $(this).next().slideToggle();
		}).next()//.hide();
		$('#accordion-js').find('#additional').next().hide();
        $('#stdout').css('width', $('h2.topic').width());
});
</script>

{% endblock %}
