{% extends "base.html" %}

{% load filters %}

{% block header %}
<div id='wrapper_code'></div>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">         
            <!--div id='sumatra_logo'><a href="http://neuralensemble.org/trac/sumatra">
            <img src='/media/Sumatra_logo.png'/></a></div-->         
                <ul class='nav'>
                    <li class="divider"></li>
                    <li><a href='/{{project_name}}/about/' class='a-subnav'>About</a></li> 
                    <li><a href='/' class='a-subnav'>List of projects</a></li>
                    <li class='active'><a href='/{{project_name}}/' class='a-subnav'>List of records</a></li> 
                    <div id = 'div_menu_search' style='float:right'>
                    <input class='span5' type='text' id="text_subnav" placeholder='Search' value='{{search_info.label}}'/> 
                        <span id='icon_cdown'><i class="icon-chevron-down" style='font-size:10pt; padding-top:3px;'></i></span>     
                        <a class='btn btn-info btn-large' id='btn_search'><i class="icon-search">
                        </i>&nbsp; Search
                        </a>         
                           <ul class="dropdown-menu" id = 'menu_search'>      
                                <a class="close" id='close_menu'>&times;</a> 
                                <form id='search_form' action='/{{project_name}}/search' method='GET'>
                                    {{form.as_p}}
                                </form>
                                <div>
                                    <a id='search_but' class='btn btn-info btn-large' style='padding: 5px 15px;margin-left:10px;color:#ffffff;margin-right:10px'><i class="icon-search">                
                                        </i>&nbsp; Search
                                    </a> 
                                </div>
                            </ul>
                    </div>           
                </ul>
                <ul class='nav pull-right' style='margin-right:5px'>
                    <li class='divider-vertical'></li>   
                    <li class='dropdown'><a id='li_settings' class='dropdown-toggle' data-toggle='dropdown' href=''>
                    <i class="icon-cog" style='margin-top:8px'></i> Settings<b class='caret'></b></a>
                        <ul class='dropdown-menu' id = 'dropdown_menu'>
                            <li><a href="#" id='settings_density'>Display density:</a></li> 
                            <li><a href="#" class='menu-rsettigns {% if "comfortable" in settings.display_density %}active{% endif %}' id='comfortable'>Comfortable</a></li>
                            <li><a href="#" class='menu-rsettigns {% if "compact" in settings.display_density %}active{% endif %}' id='compact'>Compact</a></li>
                            <li class="divider"></li>
                            <li><a id='button_settings' class='menu-rsettigns' data-toggle="modal" href="#setModal">Settings</a></li>
                        </ul>
                    </li>                    
                    <li class='divider-vertical'></li>     
                </ul> 
        </div>
    </div>
</div>
{% endblock %}
 
{% block content %} 
<div id ='innerContent'>
    {% include "content.html" %}       <!-- the content of the table + paginator header + some javascript -->
</div> 
{% include "set_tag.html" %}           <!-- 'set tags for selected records' window -->
{% include "settings_window.html" %}   <!-- 'settings' popup window -->
{% include "new_record.html" %}        <!-- 'new record' popup window -->
{% include "delete_record.html" %}     <!-- 'delete selected records' popup window -->
{% include "comparison_window.html" %} <!-- 'compare selected records' popup window -->

<script type = 'text/javascript'>
$(document).ready(function(){ 
    // initialization of all modal popup-windows (settings, new record, set tags, compare records) and hide them
    $('.modal').modal().modal('hide');

    // initialization of jquery-ui datepicker used in the seach drop-down list
    $( "#id_timestamp" ).datepicker();

    // initialization of the drop-down search list (#div_menu_search)
    $('#div_menu_search').offset({left: $('#text_subnav').offset().left + 20}); // x-position as for the #text_subnav + 20px
    $('#icon_cdown').mouseenter(function(){  // little icon at the right side of #text_subnav
        $(this).css('opacity','1.0');
    }).mouseleave(function(){
        $(this).css('opacity','0.2');
    }).click(function(event){   
        var parentWidth;
        parentWidth = $('input.span5')[0].offsetWidth - 2; // the width of this drop-down equals the width of #text_subnav
        $('#menu_search').css('width', parentWidth).show();
    });
    // user can close the drop-down search list by clicking on the window or by clicking #close_menu (little icon top-right side)
    $('#close_menu, html').click(function() {
        $('#menu_search').hide();
    });
    // prevent closing the drop-down search list when clicking on it
    $('#menu_search, #icon_cdown, #ui-datepicker-div').click(function(event){
        event.stopPropagation(); 
        $('#menu_datewith').hide();
        return false; 
    });

    // as soon as user clicks the search button in the search drop-down list, the form will be submited
    $('#search_but').click(function(){
        $('#search_form').trigger('submit');
    });

    // 'save tags' button in the 'edit tags' popup window 
    $('#saveTags').click(function(){
        $('#form-tags').trigger('submit');
    });

    // popup window is hide when user click the icons and 'run Sumatra' button
    $('#btn_run, #close_newrec, #close_set, .cancel').click(function(e){
        $('.modal').modal('hide');    
    });

    // click on the compact/comfortable anchor tag in settings drop-down list
    $('.menu-rsettigns').not('#button_settings').click(function(){
        var $density_set = $(this).attr('id');      //compact or comfortable
        $('.menu-rsettigns').removeClass('active');
        $(this).addClass('active');
        // save into .smt/project file the changed 'table density' settings
        $.post("/{{project_name}}/settings", {'display_density':$density_set,'saveSettings':true}); 
        // change the style of the table 
        if ($density_set == 'compact'){
            $('.record').removeClass('comfortable').addClass('condensed');
        }else{
            $('.record').removeClass('condensed').addClass('comfortable');
        }  
    });

    // settings: change of the number of records per one page
    $('#input_nrec, #s_nbt').click(function(event){   //click on the div in the settings section
        nbRecPerPage_changed = true;
        event.stopPropagation();
        $(this).css('display','none');
        $('#s_nbt').css('display','block');     
    }); 
    $('html').click(function(){               // each time user click window
            var $val = $('#s_nbt').val();     // number of records per page
            if ($val > 0){ 
                //$('#save_set').removeClass('disabled');
                 $('#s_nbt').removeClass('err_border');
                $('#input_nrec').css('display','block').html(Math.floor($val));
                $('#s_nbt').css('display','none');
            }else{  
                $('#s_nbt').addClass('err_border');   
                //$('#save_set').addClass('disabled');  // disable the button 'save settings'
                $('#setModal').modal('show');         // window is not closing
            }  
    });

    // user opens settings_window
    $('#button_settings').on('click', function(){
        $('.check-item').attr('checked', false); // uncheck all of them
        // in the settings form refresh the current state of chkboxes:
        $('#head_t label').not(':hidden').each(function(){
            var str_chbx = ['.check-item#', $(this).attr('id').split('-')[1]].join('');
            $(str_chbx).attr('checked', true);
        });
    });

    $('.check-item, #button_settings').on('click', function(){
        var $btext = $('#selectAll').parent().find('b');
        var nbChecked = $(".check-item:checked").length;
        if ($(".check-item").length > nbChecked) { //if there are some unchecked 
            $btext.html('Select all');  // change text
            $("#selectAll").attr('checked', false);
        }else{
            $btext.html('Deselect all');
            $("#selectAll").attr('checked', true);
        }
        if (nbChecked) {
            $('#save_set').removeClass('disabled');
        }else{
            $('#save_set').addClass('disabled');
        }
    })
    
    // settings_window: user clicks 'select all' checkbox
    $("#selectAll").click(function() { 
        var checkedStatus = this.checked; // true or false
        var $btext = $('#selectAll').parent().find('b');       
        $(".check-item").each(function() {
            this.checked = checkedStatus;
        });          
        if (checkedStatus){ $btext.html('Deselect all'); $('#save_set').removeClass('disabled');}
        else {$btext.html('Select all'); $('#save_set').addClass('disabled');} 
    });

    // settings_window: user click 'save'
    $('#save_set').click(function(){
        
        if (!$('#save_set').hasClass('disabled')){ 
            var str_rec, str_head,  
                uncheckedItems = new Array(); // all unchecked chkboxes
            var nb_rec = $('#s_nbt').val(); // number of records per one page
            // hide columns:
            $(".check-item").not(':checked').each(function() { 
                var $unchecked = $(this).attr('id');
                str_rec = ['.record #', $unchecked, '-t'].join(''); // records selector string
                str_head = ['#l-', $unchecked].join(''); // header of the table selector string           
                uncheckedItems.push($unchecked);
            }); 
            $(str_rec).hide(); // hide the records
            $(str_head).hide(); 
            // save settings to .smt/project
            $('#main_content').load('settings',{'table_HideColumns':uncheckedItems, 
                                                'nb_records_per_page':nb_rec,
                                                'saveSettings':true});
        }  
    });
});
</script>
{% endblock %}