{% extends "base.html" %}

{% load filters %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <h1><div id = "name_project">
            <a href="about/">{{project_name}}:{% if tag %} tagged with {{tag}}{% endif %}</a></div>
            <div id = 'name_page'>&nbsp; list of records</div></h1>
            <div id='sumatra_logo'><a href="http://neuralensemble.org/trac/sumatra">
            <img src='/media/Sumatra_logo.png'/></a></div>
            <!--div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">File</a></li>
              <li><a href="#about">Settings</a></li>
            </ul>
            </div-->
        </div>
    </div>
</div> 
{% endblock %}
 
 
{% block content %} 

<div id = 'header_menu'>
    <div class='subnav'>
        <ul class='nav nav-pills'>
            <li><a href='..' class='a-subnav'>List of projects</a></li>
            <li class='active'><a  class='a-subnav'>List of records</a></li>
            <li><a href='about/' class='a-subnav'>About</a></li>   
        </ul>
    </div>
   <div id = 'div_menu_search' class='span5'>
       <ul class="dropdown-menu" id = 'menu_search'>
            <a class="close" id='close_menu'>&times;</a>
            
            <div class='controls'>
                <label class='control-label'>Label</label> 
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Tag</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Reason</label>
                <select data-placeholder=" " multiple class="chzn-select">
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Outcome</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Processes</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Executable name</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Repository</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Main file</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Arguments</label>
                <select data-placeholder=" " multiple class="chzn-select">
                    <option value=""></option> 
                    <option value="United States">United States</option>
                    <option value="United States">France</option>
                    <option value="United States">Russia</option>
                    <option value="United States">UK</option>
                </select>
            </div>
             
            
            <div class='controls'>
                <label class='control-label'>Date</label>
                <div class='controls'><input id='idate' class='date input-large it' type='text'></div>
            </div>
            
            <div class='controls'>
                <label class='control-label'>Time</label>
                <div class='controls'><input id='itime' class='input-large it' type='text'></div>
            </div>
            
            <div class='controls'>
                <label class='control-label' style='width:15%'>Date within</label>
            </div>   
                
            <div id='idatewith'><span id='sdate'>1 day</span>
                <span id='span_icon'>
                    <i class="icon-chevron-up" style='margin-top:0px'></i>  
                    <i class="icon-chevron-down" style='margin-top:15px'></i>
                </span>  
            </div>
            
            <div>
                <ul class="dropdown-menu" id = 'menu_datewith'>
                    <li><a href='' >1 day</a></li>
                    <li><a href='' >3 days</a></li>
                    <li><a href='' >1 week</a></li>
                    <li><a href='' >2 weeks</a></li>
                    <li><a href='' >1 month</a></li>
                    <li><a href='' >2 months</a></li>
                    <li><a href='' >6 months</a></li>
                    <li><a href='' >1 year</a></li>
                </ul>
            </div>
            
            <label id='t_id'>of</label>
            <div><input class='date input-large it' type='text' style='width:180px'>
            

            </div>
 
            <a class='btn btn-info btn-large' style='padding: 5px 15px;margin-left:10px;margin-right:10px;color:#ffffff;margin-top:50px'><i class="icon-search">
            </i>&nbsp; Search
            </a>
            
        </ul>
    </div>
    
   <input class='span5' type='text' id="text_subnav"/>


   <span id="icon_cdown"><i class="icon-chevron-down"></i></span>       
        <a class='btn btn-info btn-large' id='btn_search'><i class="icon-search">
        </i>&nbsp; Search
        </a>

    <div class="btn-group">
        <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#" id = 'settings_but'>
        <i class="icon-cog"></i> Settings
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id = 'dropdown_menu'>
            <li><a href="#" id='settings_density'>Display density:</a></li> 
            <li><a href="#" class='menu-rsettigns' id='button_null'>Comfortable</a></li>
            <li><a href="#" class='menu-rsettigns' id='button_table-condensed'>Compact</a></li>
            <li class="divider"></li>
            <li><a id='button_settings' class='menu-rsettigns'>Settings</a></li>
        </ul>
    </div>
</div>

<div id='newrecord'>
        <a id='btn_newrec' class='btn btn-danger btn-large' style='width:100px'>
            <i class="icon-file"></i> New record
        </a>
        {% if is_paginated %}
            <div style='float:right; margin-right:25px'>
            <div class="btn-group paginator">
                <div id='pagin_info'>
                    <b>{{page_obj.start_index}}</b> - <b id='b_nbrec'>{{page_obj.end_index}}</b> of <b id='b_nbsim'>{{paginator.count}}</b>
                </div>
                <ul class="dropdown-menu" style='min-width:0px'>
                    <li>
                        {% if page_obj.has_previous %}
                            <a href="?page=1&per_page={{records_per_page}}">Newest</a>
                        {% else %}
                            <a class='p-inac'>Newest</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                            <a href="?page={{paginator.num_pages}}&per_page={{records_per_page}}">Oldest</a>
                        {% else %}
                            <a class='p-inac'>Oldest</a> 
                        {% endif %}
                    </li>
                </ul>
            </div>
                 
                <div style='float:left; margin-left:10px;'>
                    {% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}&per_page={{records_per_page}}" class="page gradient" id='older'>{% else %}<a class="page gradient inactive" id='older'>{% endif %}<i class="pagin icon-chevron-left"></i></a>
                    {% if page_obj.has_next %}<a href="?page={{page_obj.next_page_number}}&per_page={{records_per_page}}" class="page gradient" id='newer'>{% else %}<a class="page gradient inactive" id='newer'>{% endif %}<i class="pagin icon-chevron-right"></i></a>
                </div>
            </div>
        {% endif %}

</div>

<div id = 'main_content'>
    <table class="table table-bordered {{settings.display_density}}" id = 'table_out'>
        <thead>
          <tr>
            <th class="blue header Label-t" rowspan="2">Label</th>
            <th class="blue header Tag-t" rowspan="2">Tag</th>
            <th class="blue header Reason-t" rowspan="2">Reason</th>
            <th class="blue header Outcome-t" rowspan="2">Outcome</th>
            <th class="blue header Duration-t" rowspan="2">Duration</th>
            <th class="blue header Processes-t" rowspan="2">Processes</th>
            <th class="blue header Date-t" rowspan="2">Date</th>
            <th class="blue header Time-t" rowspan="2">Time</th> 
            <th class='Executable-t' colspan="{{settings.cols_span_execut}}">Executable</th>
            <th class='Script-t' colspan="{{settings.cols_span_script}}">Script</th>
          </tr>
          <tr>
            <th class="green header Name-t parentExecutable" rowspan="1">Name</th>
            <th class="green header Version-t parentExecutable" rowspan="1">Version</th>
            <th class="green header Repository-t parentScript" rowspan="1">Repository</th>
            <th class="green header Main_file-t parentScript" rowspan="1">Main file</th>
            <th class="green header S-Version-t parentScript" rowspan="1">Version</th>
            <th class="green header Arguments-t parentScript" rowspan="1">Arguments</th>
         </tr>
        </thead> 
        <tbody> 
            {% for record in object_list %}
                <tr class='simulations'>
                    <td class="Label-t">{{record.label}}</td>
                    {% if tag %}
                    <td class="Tag-t">{% for other_tag in record.tag_objects %}{% if tag == other_tag %}{{tag}} {% else %}<a href="/{{project_name}}/tag/{{other_tag.name}}/">{{other_tag.name}}</a> {% endif %}{% endfor %}</td>
                    {% else %}
                    <td class="Tag-t">{{record.tags|link:"tag/%s/"}}</td>
                    {% endif %}
                    <td class="Reason-t">{{record.reason}}</td>
                    <td class="Outcome-t">{{record.outcome}}</td>
                    <td class="Duration-t">{{record.duration|human_readable_duration}}</td>
                    <td class="Processes-t">{{record.launch_mode.get_parameters.n|default:"1"}}</td>
                    <td class="Date-t">{{record.timestamp|date:"d/m/Y"}}</td>
                    <td class="Time-t">{{record.timestamp|date:"H:i:s"}}</td>
                    <td class="Name-t parentExecutable">{{record.executable.name}}</td>
                    <td class="Version-t parentExecutable">{{record.executable.version}}</td>
                    <td class="Repository-t parentScript">{{record.repository.url|cut:"repo"}}<div style='display:none'>{{record.repository.url}}</div></td> <!-- repository path: shorten -->
                    <td class="Main_file-t parentScript">{{record.main_file}}</td>
                    <td class="S-Version-t parentScript" style='width:10px;overflow: hidden;'>{{record.version|cut:"vers"}}{% if record.diff %}*{% endif %}<div style='display:none'>{{record.version}}</div></td> <!-- version: shorten -->
                    <td class="Arguments-t parentScript">{{record.script_arguments}}</td>
                </tr>
            {% endfor %}
        </tbody>                            
    </table>   
</div><!-- main_content -->    
<!--p><a href="/">Return to list of projects</a></p-->
<script type = 'text/javascript'>
$(document).ready(function(){ 
    $('.page.gradient').not('.inactive').mouseenter(function(){
        $(this).children().css('opacity','1.0');
    }).mouseleave(function(){
        $(this).children().css('opacity','0.5');
    });
    
    $('#input_nrec, #s_nbt').click(function(event){  
        $('#save_set').attr('href', '.'); // for reloading the page if nb of records is changed
        event.stopPropagation();
        $(this).css('display','none');
        $('#s_nbt').css('display','block');     
    });
    
    $('html').click(function(){ 
        $val = $('#s_nbt').val(); 
        if ($val > 0){    
            $('#input_nrec').css('display','block').html($val);
            $('#s_nbt').css('display','none');
            $('#s_nbt').removeClass('err_border');
            if ($('#myTab li.active a').attr('href') == '#second'){
                $('#save_set').removeClass('disabled');
            }
        }else{
            $('#s_nbt').addClass('err_border');
            $('#save_set').addClass('disabled');
        }   
    });

    // load of settings:
    $.ajax({
      type: 'POST',
      url: 'settings',
      async: true,
      data: {'web':true},
      dataType: 'json'
    }).done(function(data) {
        cols = data.table_HideColumns;
        if (cols){
            for (var item, i = -1; item = cols[++i];){
                $(['.', item, '-t'].join('')).hide();
            }
        }
    }); // end load of settings
  
    $('#btn_run, #close_newrec').click(function(){
        $('#mod_newrec').modal('hide');
    });
    $('#btn_newrec').click(function(){
        $.ajax({
          type: 'POST',
          url: 'settings',
          data: {'sumatra':true},
          async: true,
          dataType: 'json'
        }).done(function(data) {
             $('#mExec').val(data.execut);
             $('#mFile').val(data.mfile);     
        });
        $('#mod_newrec').css('visibility','visible').modal('show');
    });
    
    $('#menu_datewith > li').click(function(){
        $('#menu_datewith').hide();
        $('#sdate').text($(this).text());       
    });
    
    $('#idatewith, #up_icon, #low_icon').click(function(event){
        event.stopPropagation(); 
        $('#menu_datewith').show();
        $('#menu_datewith').offset({left: $('#idatewith').offset().left});
    });
    
    $('.date').datepicker();
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    
    // #menu_search will inherit the offsetLength from this div
    $('#div_menu_search').offset({left: $('#text_subnav').offset().left});
    
    $('#icon_cdown').tooltip({
        title: 'show search options',
        placement: 'bottom'
    });
    
    $('#icon_cdown').mouseenter(function(){
        $(this).css('opacity','1.0');
    }).mouseleave(function(){
        $(this).css('opacity','0.2');
    }).click(function(event){   
        //event.stopPropagation();  //if not it will never let to open the search menu
        parentWidth = $('input.span5')[0].offsetWidth - 2;
        $('#menu_search').css('width', parentWidth)
                         .show();
    });
    
    // prevent closing the search menu when clicking on it
    $('#menu_search, #icon_cdown, #ui-datepicker-div').click(function(event){
        event.stopPropagation(); 
        $('#menu_datewith').hide();
        return false; 
    });
    
    $('#close_menu, html').click(function() {
        $('#menu_search').hide();
        $('#menu_datewith').hide();
    });
    
    $('#settings_but').dropdown();   // dropdown menu for the settings button 
    $('#pagin_info').dropdown();
   
    $('#settings_but').click(function(){         
        $.ajax({
          type: 'POST',
          url: 'settings',
          async: true,
          data: {'web':true},
          dataType: 'json'
        }).done(function(data) {
            $('#button_' + data.display_density).addClass('active_settings_row');
        });   
        
    }); 
    
    $('#table_out').tablesorter(); // use tablesorter.min.js
    
    $('#close_set, #close_set').click(function(){
        $('#myModal').modal('hide');
    });
    
    /* Automatic check/uncheck of #Script and #Executable */
    $(".check-item").click(function(){   // any checkbox in settings window         
        /* #Script and #Executable have childrens, so if at least one of the chilrens is checked,
           the parents checkboxes will be checked automatically. */
        if ($(this).attr('id') != 'Script' && $(this).attr('id') != 'Executable'){
            if ($('.check-item.Executable:checked').length == 0){
                $('#Executable').attr('checked',false);
            } else{
                $('#Executable').attr('checked',true);
            };
            
            if ($('.check-item.Script:checked').length == 0){
                $('#Script').attr('checked',false);
            }else{
                $('#Script').attr('checked',true);
            }
        }else if ($(this).attr('id') == 'Executable'){
            if ($(this).attr('checked')=='checked'){
                $('.Executable').attr('checked',true);
            }else{
                $('.Executable').attr('checked',false);
            }
        }else if ($(this).attr('id') == 'Script'){
            if ($(this).attr('checked')=='checked'){
                $('.Script').attr('checked',true);
            }else{
                $('.Script').attr('checked',false);
            }
        };

        // if no checkboxes are checked the button 'save settings' will be disables 
        if ($(".check-item:checked").length == 0){
            $('#check_selectAll').attr('checked', false);
            $('#save_set').addClass('disabled');
        }else{
            $('#save_set').removeClass('disabled');
        }
        
    }); /* End of automatic check/uncheck of #Script and #Executable */
    
    $('#save_set').click(function(){ // button save settings 
            var UncheckedItems = new Array();
            
            if (!$('#save_set').hasClass('disabled')){
                
                Exec_colspan = $('.Executable:checked').length;    
                Script_colspan = $('.Script:checked').length;
                $('.Script-t').attr('colspan', Script_colspan);
                $('.Executable-t').attr('colspan', Exec_colspan);
                
                // hide columns:
                $(".check-item").not(':checked').each(function() { 
                    $unchecked = $(this).attr('id');
                    $(['.', $unchecked, '-t'].join('')).hide();
                    UncheckedItems.push($(this).attr('id'));
                });
                
                // show columns:
                $(".check-item:checked").each(function() { 
                    $checked = $(this).attr('id');
                    $(['.', $checked, '-t'].join('')).show();
                });
                
                nb_rec = $('#s_nbt').val();
                $.ajax({
                  type: 'POST',
                  url: 'settings',
                  data: {'table_HideColumns':UncheckedItems,
                         'nb_records_per_page':nb_rec,
                         'cols_span_execut':Exec_colspan,
                         'cols_span_script':Script_colspan,
                         'saveSettings':true},
                  async: true,
                }).done(function(){});
            }
    });
    
    /* selection of all checkboxes */
    $("#check_selectAll").click(function() { 
        var checkedStatus = this.checked;
        
        $(".check-item").each(function() {
            this.checked = checkedStatus;
        });  
        
        if (!checkedStatus){
            $('#save_set').addClass('disabled'); // in case all are unchecked
        }else{
            $('#save_set').removeClass('disabled');
        }    
    });
    
    /* Settings->Display density->compact */
    $('.menu-rsettigns').not('#button_settings').click(function(){
        $density_set = $(this).attr('id').split('_')[1]; // 'comfortable' or 'compact'
        $(this).addClass('active_settings_row');
            $.ajax({
              type: 'POST',
              url: 'settings',
              data: {'display_density':$density_set,
                     'saveSettings':true},
              async: true
            }).done(function(data) {
                 $('#myModal').modal('hide');
            });

        if ($density_set == 'table-condensed'){
            $('#table_out').addClass('table-condensed');
            $('#button_null').removeClass('active_settings_row');   
        }else{
            $('#table_out').removeClass('table-condensed');
            $('#button_table-condensed').removeClass('active_settings_row');    
        }        
    });
    
   $('#button_settings').click(function(){
        $('#myModal').css('visibility','visible').modal('show');
        $('.tabs a:last').tab('show');
        // load checkboxes states from .smt/project:
        $.ajax({
          type: 'POST',
          url: 'settings',
          async: true,
          data: {'web':true},
          dataType: 'json'
        }).done(function(data) {   
            cols = data.table_HideColumns;
            if (cols){
                for (var item, i = -1; item = cols[++i];){
                    $('#' + item).attr('checked',false);
                }
            }
        });
    });
   
    $('#btn_run').click(function(){
        $clone = $('#table_out tbody tr:eq(0)').clone(); //clone zero row
        // remove the content from the clone
        $clone.find('td').each(function(i, el) {
            $(el).html('');
        });
        $('#table_out tbody').prepend($clone); // insert the clone after the head of table
        $.fancybox.showActivity(); 
        $.ajax({
          type: 'POST',
          url: 'simulation',
          async: true,
          data: {'label':$('#mLabel').val(),
                 'reason':$('#mReason').val(),
                 'tag':$('#mTag').val(),
                 'execut':$('#mExec').val(),
                 'main_file':$('#mFile').val(),
                 'args':$('#mArg').val()
                },
          dataType: 'json',
          success: function(){  
             $.fancybox.hideActivity();
             $("#table_out").trigger("update");  //for tablesorter
          },
        }).done(function(data) {
             $tableFirstrow = $('#table_out tbody tr:eq(0)');
             $tableFirstrow.find('td').each(function(i, el) {
                  $(el).html(data[$(el).attr('class').split(' ')[0]]);
             });
             $tableFirstrow.effect("highlight", {}, 5000);  
             nb_sim = parseInt($('#b_nbsim').html());
             $('#b_nbsim').html(nb_sim + 1);
        }); // done
    });
    
  // $('#fancybox-loading').ajaxStart(function() { $.fancybox.showActivity() }).ajaxStop(function() {$.fancybox.hideActivity();});
});
</script>



<div class="modal" id="mod_newrec">
    <a class="close s-close" id='close_newrec'>&times;</a>
    <div class='d-mod'>     
        <label class='control-label' for='mLabel'>Label</label> 
        <div class='mod_input'>
            <input id='mLabel' class='input-xlarge' type='text'>
        </div>
        <label class='control-label' for='mReason'>Reason</label> 
        <div class='mod_input'>
            <textarea id='mReason' class='input-xlarge' type='text'></textarea>
        </div>
        <label class='control-label' for='mTag'>Tag</label> 
        <div class='mod_input'>
            <input id='mTag' class='input-xlarge' type='text'>
        </div>
        <label class='control-label' for='mExec'>Executable</label> 
        <div class='mod_input'>
            <input id='mExec' class='input-xlarge' type='text'>
        </div>
        <label class='control-label' for='mFile'>Main file</label> 
        <div class='mod_input'>
            <input id='mFile' class='input-xlarge' type='text'>
        </div>
        <label class='control-label' for='mArg'>Arguments</label> 
        <div class='mod_input'>
            <input id='mArg' class='input-xlarge' type='text'>
        </div>
        <button id='btn_run' class='btn btn-success btn-large' style='width:150px; display: block ;margin-left: auto; margin-right: auto;'>Run</button>
    </div>
</div>

   
<div class="modal" id="myModal">
  <a class="close s-close" id='close_set'>&times;</a>
  <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">   
    <ul class="nav nav-tabs"  id ='myTab'>
      <li class="active"><a href="#first"  data-toggle="tab" >General</a></li>
      <li><a href="#second"  data-toggle="tab" >Another option 1</a></li>
      <li><a href="#messages"  data-toggle="tab" >Another option 2</a></li>
      <li><a href="#settings"  data-toggle="tab" >Another option 3</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="first">
        <div id = 'tab_general_text'><p><b>Table:</b></p></div>
        <div id = 'tab_general_content'>
            <label class="checkbox">
                <input type="checkbox" id='Label' checked="checked" class='check-item'> Label
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Tag' checked="checked" class='check-item'> Tag
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Reason' checked="checked" class='check-item'> Reason
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Outcome' checked="checked" class='check-item'> Outcome
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Duration' checked="checked" class='check-item'> Duration
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Processes' checked="checked" class='check-item'> Processes
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Executable' checked="checked" class='check-item'> Executable
            </label>
                <label class="checkbox">
                    <div class = 'subitems'>
                        <input type="checkbox" class='check-item Executable' id='Name' checked="checked"> Executable name
                    </div>
                </label>
                <label class="checkbox">
                    <div class = 'subitems'>
                        <input type="checkbox" class='check-item Executable' id='Version' checked="checked"> Executable Version
                    </div>
                </label>
            <label class="checkbox">
                <input type="checkbox" id='Date' checked="checked" class='check-item'> Date
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Time' checked="checked" class='check-item'> Time
            </label>
            <label class="checkbox">
                <input type="checkbox" id='Script' checked="checked" class='check-item'> Script
            </label>
            <label class="checkbox">
                <div class = 'subitems'>
                    <input type="checkbox" class='check-item Script' id='Repository' checked="checked"> Script repository
                </div>
            </label>
            <label class="checkbox">
                <div class = 'subitems'>
                    <input type="checkbox" class='check-item Script' id='Main_file' checked="checked"> Script main file
                </div>
            </label>
            <label class="checkbox">
                <div class = 'subitems'>
                    <input type="checkbox" class='check-item Script' id='S-Version' checked="checked"> Script version
                </div>
            </label>
            <label class="checkbox">
                <div class = 'subitems'>
                    <input type="checkbox" class='check-item Script' id='Arguments' checked="checked"> Script arguments
                </div>
            </label>
            <label class="checkbox">
                <input type="checkbox" id = 'check_selectAll' checked="checked"><b style='font-size:14px'>Select all</b>
            </label>
        </div>
      </div>
      <div class="tab-pane" id="second">
            <div style='float:left; padding:8px'>Number of records per page:</div>
            <div id="input_nrec">{{records_per_page}}</div>
            <input id='s_nbt' class='span1' type='text' style='float:left;margin-bottom:0px' value='{{records_per_page}}'/>     
      </div>
      <div class="tab-pane" id="messages">
        <div id = 'tab_general_text'><p><b>option3:</b></p></div>
      </div>
      <div class="tab-pane" id="settings">
        <div id = 'tab_general_text'><p><b>option4:</b></p></div>
      </div>
    </div>

      <div class="modal-footer">
        <a class="btn btn-primary" id='save_set'>Save changes</a>
        <a class="btn" id='close_set'>Close</a>
      </div>
  
 </div>  
 </div>

{% endblock %}