<div class="modal" id="setModal">
  <a class="close s-close" id='close_set'>&times;</a>
  <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">   
    <ul class="nav nav-tabs"  id ='myTab'>
      <li class="active"><a href="#first"  data-toggle="tab" >General</a></li>
      <li><a href="#second"  data-toggle="tab" >Another option</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="first">
        <div id = 'tab_general_text'><p><b>Table:</b></p></div>
        <div id = 'tab_general_content'>
            <label class="checkbox">
                <input type="checkbox"  id='repository' class='check-item'> Repository
            </label>
            <label class="checkbox">
                <input type="checkbox" id='label' class='check-item'> Label
            </label>
            <label class="checkbox">
                <input type="checkbox" id='tag' class='check-item'> Tag
            </label>
            <label class="checkbox">
                <input type="checkbox" id='reason' class='check-item'> Reason
            </label>
            <label class="checkbox">
                <input type="checkbox" id='outcome' class='check-item'> Outcome
            </label>
            <label class="checkbox">
                <input type="checkbox" id='duration' class='check-item'> Duration
            </label>
            <label class="checkbox">
                <input type="checkbox" id='processes' class='check-item'> Processes
            </label>
            <label class="checkbox">
                <input type="checkbox" id='ename' class='check-item'> Executable name
            </label>
            <label class="checkbox">
                <input type="checkbox" id='eversion' class='check-item'> Executable version
            </label>
            <label class="checkbox">
                <input type="checkbox" id='date' class='check-item'> Date
            </label>
            <label class="checkbox">
                <input type="checkbox" id='time' class='check-item'> Time
            </label>
            <label class="checkbox">
                 <input type="checkbox" id='main' class='check-item'> Script main file
            </label>
            <label class="checkbox">
                <input type="checkbox" id='version' class='check-item'> Script version
            </label>
            <label class="checkbox">
                <input type="checkbox" id='arguments' class='check-item'> Script arguments
            </label>
            <label class="checkbox">
                <input type="checkbox" id = 'selectAll' checked="checked"><b style='font-size:14px'>Select all</b>
            </label>
              <div style='float:left; padding:8px; padding-left:0px'>Number of records per page:</div>
                    <div id="input_nrec">{{settings.nb_records_per_page}}</div>
                    <input id='s_nbt' class='span1' type='text' style='float:left;margin-bottom:0px' value='{{settings.nb_records_per_page}}'> 
              </div>
        </div>
      <div class="tab-pane" id="second">
           some other settings...     
      </div>
    </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id='save_set'>Save changes</a>
        <a class="btn" id='close_set'>Close</a>
      </div> 
 </div>
 </div>