{% extends "base.html" %}

{% block title %}{{project_name}}: {{label}}: {{path}}{% endblock %}

{% block header %}
<h1>{{project_name}}: <i>{{label}}</i></h1>
{% endblock %}

{% block content %}

<p><a href=".">Return to record</a></p>

<h2>{{path}}</h2>

<table class="csvfile">
{% for row in reader %}
 <tr>
{% if forloop.first %}
 {% for col in row %}<th>{{col}}</th>{% endfor %}
{% else %}
 {% for col in row %}<td>{{col}}</td>{% endfor %}
{% endif %}
 </tr>
{% endfor %}
</table>


{% if truncated %}
<p>File contents truncated. <a href="datafile?path={{path}}&truncate=false">Show entire contents</a></p>
{% endif %}

{{errmsg}}

{% endblock %}
