{% extends "base.html" %}

<div id="pageHeader">
    {% block header %}
        {% include "header.html" %} 
    {% endblock %}          
</div>

{% block content %}
    <div style = 'height:40px;'>
        <div id='head-div' style='margin-left:0px'>
       		<h2><a href="/{{project_name}}/" style='color:purple'>{{project_name}}</a> > 
       			<a href="/{{project_name}}/{{label}}/">{{label}}</a></h2>
    	</div>
    </div>

<h2>{{path}}</h2>

<div class="plaintext">
<pre>
{{content|escape}}
</pre>
</div>

{% if truncated %}
<p>File contents truncated. <a href="datafile?path={{path}}&digest={{digest}}&truncate=false">Show entire contents</a></p>
{% endif %}

{{errmsg}}
{% if not errmsg %}
<p><a href="download?path={{path}}&digest={{digest}}">Download content</a></p>
{% endif %}
{% endblock %}
