{% extends "show_file_base.html" %}

{% block content %}

<h3>{{path}}</h3>

<table class="csvfile">
{% for row in reader %}
 <tr>
{% if forloop.first %}
 {% for col in row %}<th>{{col}}</th>{% endfor %}
{% else %}
 {% for col in row %}<td>{{col}}</td>{% endfor %}
{% endif %}
 </tr>
{% endfor %}
</table>


{% if truncated %}
<p>File contents truncated. <a href="datafile?path={{path}}&digest={{digest}}&truncate=false" class="btn">Show entire contents</a></p>
{% endif %}

<p><a href="download?path={{path}}&digest={{digest}}" class="btn">Download content</a></p>

{{errmsg}}

{% endblock %}
