{% extends "base.html" %}

{% block title %}{{project_name}}: {{record.id}}{% endblock %}

{% block header %}
<form action='{{ request.path }}' method='POST'>
<h1>{{project_name}}: <i>{{record.id}}</i></h1>
<input type="submit" value='Save changes' class="headeritem">
<input type="submit" value='Delete' class="headeritem" name="delete">
{% endblock %}

{% block content %}

<p><a href="previous"><</a> <a href="/">Return to simulation list</a> <a href="next">></a></p>

{{form.errors}}

<table>
    <tr><th>Label:</th><td>{{record.id}}</td></tr>
    <tr><th>Reason:</th><td>{{form.reason}}</td></tr>
    <tr><th>Outcome:</th><td>{{form.outcome}}</td></tr>
    <tr><th>Timestamp:</th><td>{{record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
    <tr><th>Duration:</th><td>{{record.duration|floatformat:"2"}}&nbsp;s</td></tr>
    <tr><th>Executable:</th><td>{{record.executable.name}} version {{record.executable.version}} ({{record.executable.path}})</td></tr>
    <tr><th>Launch mode:</th><td>{% ifequal record.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{record.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
    <tr><th>Repository:</th><td>{{record.repository.url}}</td></tr>
    <tr><th>Main file:</th><td>{{record.main_file}}</td></tr>
    <tr><th>Version:</th><td>{{record.version}}{% if record.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
    <tr><th>Tags:</th><td>{{form.tags}}</td></tr>
</table>

</form>

<h2>Data files</h2>
<table>
{% for file in datafiles %}
  <tr class="{% cycle odd,even %}"><td><a href="datafile?path={{file}}">{{file}}</a></td>
                                   <td>{{file.mimetype|default:""}}</td>
                                   <td>{{file.size|filesizeformat}}</td></tr>
{% endfor %}
</table>

<h2>Parameters</h2>
{% for name, value in parameters.items %}
{{name}} = {{value}}<br>{% endfor %}
                        
<h2>Dependencies</h2>
<table>
<tr><th>Name</th><th>Path</th><th>Version</th></tr>
{% for dep in record.dependencies.all %}
<tr><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
</table>

<h2>Platform information</h2>
<table>
<tr><th>Name</th><th>IP address</th><th>Processor</th>
    <th colspan="2">Architecture</th><th>System type</th>
    <th>Release</th><th>Version</th>
</tr>
{% for platform in record.platforms.all %}
<tr><td>{{platform.network_name}}</td>
    <td>{{platform.ip_addr}}</td>
    <td>{{platform.processor}} {{platform.machine}}</td>
    <td>{{platform.architecture_bits}}</td>
    <td>{{platform.architecture_linkage}}</td>
    <td>{{platform.system_name}}</td>
    <td>{{platform.release}}</td>
    <td>{{platform.version}}</td>
</tr>{% endfor %}
</table>

{% endblock %}