{% extends "base.html" %}

{% block title %}Simulation <i>{{record.id}}</i>{% endblock %}

{% block header %}
<form action='{{ request.path }}' method='POST'>
<h1>Sumatra: Record #{{record.id}}</h1>
<input type="submit" value='Save' class="headeritem">
<input type="submit" value='Delete' class="headeritem" name="delete">
{% endblock %}

{% block content %}

<p><a href="/">Return to simulation list</a></p>

<p>Should add previous and next buttons</p>

<table>
    <tr><th>Label:</th><td>{{record.id}}</td></tr>
    <tr><th>Timestamp:</th><td>{{record.timestamp}}</td></tr>
    {{form}}
    <tr><th>Duration:</th><td>{{record.duration}}</td></tr>
    <tr><th>Code version:</th><td>{{record.script.version}}</td></tr>
    <tr><th>Simulator version:</th><td>{{record.executable.version}}</td></tr>
</table>

</form>

<h2>Data files</h2>
<table>
{% for file in datafiles %}
  <tr class="{% cycle odd,even %}"><td><a href="/{{file.name}}">{{file.name}}</a></td><td>{{file.size}}</td></tr>
{% endfor %}
</table>

<h2>Parameters</h2>
<table>
    {% for p in parameters %}
    <tr class="{% cycle odd,even %}"><td>{% ifchanged p.0 %}{{p.0|join:"/"}}/{% endifchanged %}</td><td>{{p.1.name}}:</td><td>{{p.1.value}}</td></tr>
    {% endfor %}
</table>

{% endblock %}