# Base requirements for running Sumatra, for all supported versions of Python
setuptools  # needed for Python 3.12, since distutils removed
Django<3
django-tagging>=0.4
httplib2
jinja2
docutils
parameters
# optional requirements, depending on which version control systems you use
mercurial
hgapi
GitPython>=0.3.6
# optional requirements, depending on which serialization formats you want
pyyaml
# optional, for WebDAV support
#dexml
#fs
# optional, for PostgreSQL support
#psycopg2