<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom Sumatra styles -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/custom.css?<?php echo time(); ?>" rel="stylesheet">

    {% block css %}
    {% endblock %}
  </head>

  <body>

    {% if project %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon logo"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
                <li id="nav-record"><a href="/{{project.id}}/">Record View</a></li>
                <li id="nav-data"><a href="/{{project.id}}/data/">Data View</a></li>
                <li id="nav-parameter"><a href="/{{project.id}}/parameter">Parameter View</a></li>
                <li id="nav-image"><a href="/{{project.id}}/image">Image View</a></li>
                <li id="nav-about"><a href="/{{project.id}}/about/">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar-right %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% else%}
    <p></p>
    {% endif %}

    <div class="container">

    {% if project %}
    <ol class="breadcrumb">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/{{project.id}}/">{{project.id}}</a></li>
        {% if record %}<li><a href="/{{project.id}}/{{record.label}}/">{{record.label}}</a></li>{% endif %}
        {% if data_key.path %}<li><a href="/{{project.id}}/{{data_key.output_from_record.label}}/">{{data_key.output_from_record.label}}</a></li>
            <li><a href="/{{project.id}}/{{data_key.path}}/">{{data_key.path}}</a></li>{% endif %}
            {% block navbar %}
            {% endblock %}
    </ol>
    {% endif %}

      {% block content %}{% endblock %}

    </div><!-- /.container -->

    {% block dialogs %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="/static/js/custom.js?<?php echo date('l jS \of F Y h:i:s A'); ?>"></script>
  </body>
</html>
