{% extends "base.html" %}

{% load filters %}

{% block title %}{{project.id}}: List of data files{% endblock %}

{% block css %}
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
            <li><a href="#">{{project.id}}</a></li>
{% endblock %}

{% block content %}

{% if project.name %}
<h3>{{project.name}}</h3>
{% endif %}

<div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="/{{project.id}}/">Record View</a>
    <button type="button" class="btn btn-primary">Data View</button>
    <a type="button" class="btn btn-default" href="/{{project.id}}/image/">Image View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/parameter">Parameter View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/about/">About</a>
</div>


<table id="data-keys" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
        <tr>
          <th>Directory</th>
          <th>Filename</th>
          <th>Digest</th>
          <th>Size</th>
          <th>Date/Time</th>
          <th>Output of</th>
          <th>Input to</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
Object.defineProperty(Number.prototype,'fileSize',{value:function(a,b,c,d){
return (a=a?[1e3,'k','B']:[1024,'K','iB'],b=Math,c=b.log,
    d=c(this)/c(a[0])|0,this/b.pow(a[0],d)).toFixed(2)
    +' '+(d?(a[1]+'MGTPEZY')[--d]+a[2]:'Bytes');
},writable:false,enumerable:false});

$(document).ready(function() {

    // Column Renderer
    var columnDefs = [
        {"render": function(data, type, row) {
            return '<a href="/'+row.project+'/data/datafile?'+
                'path='+row.path+'&digest='+row.digest+
                '&creation='+row.creation+'">'+data+'</a>';
        }, "targets": [1]},                                                     // filename
        {"render": function(data, type, row) {
            return '<span title="'+data+'">'+data.slice(0,8)+'...</span>'
        }, "targets": [2]},                                                     // digest
        {"render": function(data, type, row) {
            return data.fileSize(1);
        }, "targets": [3]},                                                     // size
        {"render": function(data, type, row) {
            return '<a href="/'+row.project+'/'+data+'/">'+data+'</a>'
        }, "targets": [5]},                                                     // output from record
        {"render": function(data, type, row) {
            var rendered_data = [];
            for (var i=0;i<data.length;i++) {
                rendered_data.push('<a href="/'+row.project+'/'+data[i]+'/">'+data[i]+'</a>')
            }
            return rendered_data.join(' ');
        }, "targets": [6]},                                                     // input to record
    ]

    var table = $('#data-keys').dataTable( {
        "processing":       true,
        "serverSide":       true,
        "info":             false,
        "dom":              'ftlp',
        "ajax":             "/{{project.id}}/datatable/data",
        "columns": [
            { "data": "directory" },
            { "data": "filename" },
            { "data": "digest" },
            { "data": "size" },
            { "data": "creation" },
            { "data": "output_from_record" },
            { "data": "input_to_records" }
        ],
        "order":            [[ 4, "desc" ]],
        "columnDefs":       columnDefs,
    } );
} );
    </script>
{% endblock %}
