{% extends "base.html" %}

{% load filters %}

{% block title %}{{project.id}}: List of data files{% endblock %}

{% block css %}
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
            <li><a href="#">{{project.id}}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="glyphicon glyphicon-tag"></span>
                    <span id="tag-label"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" id="tagList">
                    {% if tags %}
                        {% for tag in tags %}
                        <li><a data-target="#" class="tag" value="{{tag.name}}">{{tag.name}}</a></li>
                        {% endfor %}
                        <li role="presentation" class="divider"></li>
                        <li><a data-target="#" class="tag" value="null"><i>clear selection</i></a></li>
                    {% else %}
                    <li role="presentation" class="dropdown-header">No tags defined.</li>
                    {% endif %}
                </ul>
            </li>
{% endblock %}

{% block content %}

{% if project.name %}
<h3>{{project.name}}</h3>
{% endif %}

<div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="/{{project.id}}/">Record View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/data/">Data View</a>
    <button type="button" class="btn btn-primary">Image View</button>
    <a type="button" class="btn btn-default" href="/{{project.id}}/parameter">Parameter View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/about/">About</a>
</div>

<div role="group" class="pull-right" style="padding-left:2px">
    <button class="btn btn-default btn-sm active" id="image-table-view">
        <span class="glyphicon glyphicon-th-list"></span></button>
    <button class="btn btn-default btn-sm" id="thumbgrid-view-large">
        <span class="glyphicon glyphicon-th-large"></span></button>
    <button class="btn btn-default btn-sm" id="thumbgrid-view">
        <span class="glyphicon glyphicon-th"></span></button>
</div>

<table id="images-table" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
        <tr>
          <th data-orderable="false">Image</th>
          <th>Record info (sorted by date)</th>
          <th>Output of</th>
          <th>Reason</th>
          <th>Outcome</th>
          <th>Tags</th>
          <th>Parameter</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<div id="thumbgrid" class="container hidden"></div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">

/* filter by tag */
var selected_tag = null;
var thumbgrid_view = 'col-md-3 col-sm-4 col-xs-6';

$(document).ready(function() {

    // Column Renderer
    var columnDefs = [
        {"render": function(data, type, row) {
            return '<div class=""><a href="/'+row.project+'/data/datafile?'+
                'path='+row.path+'&digest='+row.digest+'&creation='+row.creation+'" title="'+row.path+'">'+
                '<img src="/data/'+row.datastore+'?path='+row.path+'&digest='+row.digest+'&creation='+row.creation+
                '" style="width:100%">  </a></div>'
        }, "width": "40%", "targets": [0]},                                                     // image
        {"render": function(data, type, row) {
            if (data.length == 0) {
                return ''
            } else {
                var rendered = [];

                rendered.push('<dl>')
                rendered.push('<dt>Date/Time</dt>')
                rendered.push('<dd>'+data+'</dd>');
                rendered.push('<dt>Output of</dt>')
                rendered.push("<dd><a target='script_content' onclick=window.open('/"+row.project+"/"+row.record+"/script','script_content','width=640,height=600,scrollbars=yes,resizable=yes') style='cursor:pointer'><i class='fa fa-file-code-o'></i></a>"+
                    ' <a href="/'+row.project+'/'+row.record+'/">'+row.record+'</a></dd>')
                if (row.reason.length > 0) {
                    rendered.push('<dt>Reason</dt>')
                    rendered.push('<dd>')
                    if (row.reason.length < 200) {
                        rendered.push(row.reason)
                    } else {
                        rendered.push('<span title="'+row.reason+'">'+row.reason.slice(0,200)+'...</span>')
                    }
                    rendered.push('</dd>')
                }
                if (row.outcome.length > 0) {
                    rendered.push('<dt>Outcome</dt>')
                    rendered.push('<dd>')
                    if (row.outcome.length < 200) {
                        rendered.push(row.outcome)
                    } else {
                        rendered.push('<span title="'+row.outcome+'">'+row.outcome.slice(0,200)+'...</span>')
                    }
                    rendered.push('</dd>')
                }
                if (row.tags.length > 0) {
                    rendered.push('<dt>Tags</dt>')
                    rendered.push('<dd>')
                    for (var i=0;i<row.tags.length;i++) {
                        var tag = row.tags[i];
                        rendered.push('<button class="btn btn-default btn-xs tag" value="'+ tag +'">' + tag + '</button>')
                    }
                    rendered.push('</dd>')
                }
                if (row.parameters.length > 0) {
                    // rendered.push('<div style="display:none">')
                    rendered.push('<dt>Parameters</dt>')
                    rendered.push('<dd>')
                    if (row.parameters.length < 8) {
                        rendered.push(row.parameters.join('<br>'))
                    } else {
                        rendered.push('<span>'+row.parameters.slice(0,8).join('<br>')+'...</span>')
                    }
                    rendered.push('</dd>')
                    // rendered.push('</div>')
                }
                rendered.push('</dl>')
                return rendered.join(' ');
            }
        }, "targets": [1]},                                                     // info
        {"render": function(data, type, row) {
            return '<a href="/'+row.project+'/'+data+'/">'+data+'</a>'
        }, "visible": false, "targets": [2]},                                   // record
        {"render": function(data, type, row) {
            if (data.length < 200) {
                return data
            } else {
                return '<span title="'+data+'">'+data.slice(0,200)+'...</span>'
            }
        }, "visible": false, "targets": [3,4,6]},                               // reason,outcome, parameters
        {"render": function(data, type, row) {
            if (data.length == 0) {
                return ''
            } else {
                var rendered = [];
                for (var i=0;i<data.length;i++) {
                    var tag = data[i];
                    rendered.push('<button class="btn btn-default btn-xs tag" value="'+ tag +'">'+ tag +'</button>')
                }
                return rendered.join(' ');
            }
        }, "visible": false, "targets": [5]},                                   // tags
    ]

    var table = $('#images-table').DataTable({
        "processing":       true,
        "serverSide":       true,
        "info":             false,
        "dom":              'ftlp',
        "ajax": {
            "url": "/{{project.id}}/datatable/image",
            "data": function ( d ) {
                d.tag = selected_tag;
            }
        },
        "columns": [
            { "data": "image" },
            { "data": "date" },
            { "data": "record" },
            { "data": "reason" },
            { "data": "outcome" },
            { "data": "tags" },
            { "data": "parameters" },
        ],
        "order":            [[ 1, "desc" ]],
        "columnDefs":       columnDefs,
        "preDrawCallback": function (settings) {
              // create a thumbs container if it doesn't exist. put it in the dataTables_scrollbody div
              if ($('#thumbs_container').length < 1) {$('#thumbgrid').append("<div id='thumbs_container' class='row'></div>");}
              $('#thumbs_container').html('');                  // clear out the thumbs container
              return true
          },
        "rowCallback": function( row, data ) {
            $('#thumbs_container').append('<div class="thumb"><div class="thumbnail">' +
                '<a href="/'+data.project+'/data/datafile?path='+data.path+'&digest='+data.digest+'&creation='+data.creation+'">' +
                '<img src="/data/'+data.datastore+'?path='+data.path+'&digest='+data.digest+'&creation='+data.creation+'">' +
                '</a></div></div>');
            $('.thumb').addClass(thumbgrid_view);
            return row
        },
        "drawCallback": function(settings) {
            $('button.tag').removeClass("active");
            $('button.tag[value='+ selected_tag+']').addClass("active");
        },
    });

    $('#thumbgrid-view').on('click', function() {
        $(this).addClass('active').siblings().removeClass('active')
        $('#images-table').addClass('hidden')
        thumbgrid_view = 'col-md-3 col-sm-4 col-xs-6'
        $('.thumb').removeClass().addClass('thumb').addClass(thumbgrid_view)
        $('#thumbgrid').removeClass('hidden')
    })

    $('#thumbgrid-view-large').on('click', function() {
        $(this).addClass('active').siblings().removeClass('active')
        $('#images-table').addClass('hidden')
        thumbgrid_view = 'col-md-6 col-sm-12'
        $('.thumb').removeClass().addClass('thumb').addClass(thumbgrid_view)
        $('#thumbgrid').removeClass('hidden')
    })

    $('#image-table-view').on('click', function() {
        $(this).addClass('active').siblings().removeClass('active')
        $('#images-table').removeClass('hidden')
        $('#thumbgrid').addClass('hidden')
    })

    /* select tag from dropdown menu and from tag button */
    $('body').on('click', '.tag', function () {
        if ( selected_tag == $(this).attr('value') ) {
            selected_tag = 'null';
        } else {
            selected_tag = $(this).attr('value');
        }
        $('#tagList li').removeClass('selected');
        $('#tag-label').html('Tag');

        if (selected_tag == 'null') {
            selected_tag = null;
        } else {
            $("#tagList #id_tag_"+selected_tag).addClass('selected');
            $('#tag-label').html(selected_tag);
        }
        table.draw();
    });
} );
    </script>
{% endblock %}
