{% extends "base.html" %}

{% load filters %}

{% block title %}{{project.id}}: List of images{% endblock %}

{% block css %}
<link href="/static/css/animate.min.css" rel="stylesheet">
<style>
#thumbgrid .thumbnail {
	position:relative;
	overflow:hidden;
}

.caption {
    background: rgba(255,255,255, 0.75) none repeat scroll 0 0;
    display: none;
    height: 100%;
    padding: 2%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    cursor: pointer;
}
</style>
{% endblock %}

{% block navbar %}
            <li><a href="#">{{project.id}}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="glyphicon glyphicon-tag"></span> <span id="tag-label">Tag</span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" id="tagList">
                    {% if tags %}
                        {% for tag in tags %}
                        <li><a data-target="#" class="tag" value="{{tag.name}}">{{tag.name}}</a></li>
                        {% endfor %}
                        <li role="presentation" class="divider"></li>
                        <li><a data-target="#" class="tag" value="null"><i>clear selection</i></a></li>
                    {% else %}
                    <li role="presentation" class="dropdown-header">No tags defined.</li>
                    {% endif %}
                </ul>
            </li>
{% endblock %}

{% block navbar-right %}

{% endblock %}

{% block content %}

{% if project.name %}
<h3>{{project.name}}</h3>
{% endif %}

<div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="/{{project.id}}/">Record View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/data/">Data View</a>
    <button type="button" class="btn btn-primary">Image View</button>
    <a type="button" class="btn btn-default" href="/{{project.id}}/parameter">Parameter View</a>
    <a type="button" class="btn btn-default" href="/{{project.id}}/about/">About</a>
</div>

<div role="group" class="pull-right" style="padding-left:2px">
	<a href='/{{project.id}}/image/' type="button" class="btn btn-default btn-sm" id="layout">
		<span class="glyphicon glyphicon-th-list"></span>
	</a>
	<button class="btn btn-default btn-sm active"><span class="glyphicon glyphicon-th"></span></button>
</div>

<!-- Page Content -->
    <div class="container">
        <div class="row" id="thumbgrid">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="display:none">
                <div class="thumbnail">
                    <a class="image"><img class="img-responsive"></a>
                    <div class="caption animated fadeOut">
                        <h4> <a class="filename"></a></h4>
                        <p>Record data: <a class="rec-label"></a></p>
                        <p>Script: <span class="show_script"></span></p>
                        <p>Reason: <span class="reason"></span></p>
                        <p>Outcome: <span class="outcome"></span></p>
                        <p>Tags: <span class="tags"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <div class="btn btn-default load" onclick="load_images(8)">load more</div>
                <div class="btn btn-default load" onclick="load_images(-1)">load all</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

/* filter by tag */
var selected_tag = null;
var loading = false;
var offset = 0;
var limit = 8;


var load_images = function(limit) {
    if (limit == -1) { $('.loaded').remove(); }
    $.ajax({
        url: '/{{project.id}}/image/thumbgrid',
        type: 'GET',
        data: selected_tag ? {'offset': offset, 'limit': limit, 'selected_tag':selected_tag} : {'offset': offset, 'limit': limit},
        dataType: "json",
        complete: function(data){
            data = data.responseJSON
            for (var i in data) {
                var thumb = $('.thumb:last-child')
                thumb.clone().appendTo( ".row" );
                thumb.find('.image img').attr('src', '/data/'+data[i].datastore_id+'?path='+data[i].path+'&digest='+data[i].digest+'&creation='+data[i].creation);
                thumb.find('.filename').attr('href','/'+data[i].project_name+'/data/datafile?path='+data[i].path+'&digest='+data[i].digest+'&creation='+data[i].creation).html(data[i].path);
                thumb.find('.rec-label').attr('href','/'+data[i].project_name+'/'+data[i].label+'/').html(data[i].label);
                thumb.find('.show_script').html(data[i].main_file)
                if (data[i].reason.length > 20) {
                    thumb.find('.reason').html(data[i].reason.slice(1,20) + '...');
                    thumb.find('.reason').attr('title', data[i].reason);
                } else {
                    thumb.find('.reason').html(data[i].reason);
                }
                if (data[i].outcome.length > 20) {
                    thumb.find('.outcome').html(data[i].outcome.slice(1,20) + '...');
                    thumb.find('.outcome').attr('title', data[i].outcome);
                } else {
                    thumb.find('.outcome').html(data[i].outcome);
                }
                for (j in data[i].tags) {
                    var tag = data[i].tags[j];
                    thumb.find('.tags').append('<button class="btn btn-default btn-xs tag" value="'+ tag +'">'+ tag +'</button>')
                }
                thumb.addClass('loaded').show();
            }
            if (data.length > 0) {
                offset = offset + limit
                loading = false; // reset value of loading once content loaded
            }
            $(".tags .tag[value="+ selected_tag+"]").addClass('active')

            /* select tag from dropdown menu */
            $('.tag').click(function () {
                $('.load').show()
                if ( selected_tag == $(this).attr('value') ) {
                    selected_tag = 'null';
                } else {
                    selected_tag = $(this).attr('value');
                }
                $('#tagList li').removeClass('selected');
                $('#tag-label').html('Tag');

                if (selected_tag == 'null') {
                    selected_tag = null;
                } else {
                    $("#tagList #id_tag_"+selected_tag).addClass('selected');
                    $('#tag-label').html(selected_tag);
                }
                $('.loaded').remove();
                offset = 0;
                load_images(limit)
            });

            if (limit == -1 || limit > data.length) {$('.load').hide()}
        },
        async: false
    });

    $( ".thumbnail" )
        .mouseenter(function() {
            $(this).find('.caption').removeClass("fadeOut").addClass("fadeIn").show();
        })
        .mouseleave(function() {
            $(this).find('.caption').removeClass("fadeIn").addClass("fadeOut");
    });
};

$(document).ready(function() {
    $('#nav-image').addClass('active');
    load_images(limit)

});
</script>
{% endblock %}
