{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}: {{record.label}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{record.label}}/"> {{record.label}}</a></li>
{% endblock %}
    
{% block content %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
      href="/media/css/jquery.dataTables.css">
            
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="/media/js/jquery.js"></script>
            
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
        src="/media/js/jquery.dataTables.js"></script>


<div class="accordion">
    <h2 class="nav-toggle">General info</h2>
    <form action='{{ request.path }}' method='POST' id="actions" name="actions">
        {{form.errors}}
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table id = 'gen_info'>
                    <tr><th>Label:</th><td>{{record.label}}</td></tr>
                    {% if record.repeats %}<tr><th>Repeat of:</th><td><a href="../{{record.repeats}}">{{record.repeats}}</a></td></tr>{% endif %}
                    <tr><th>Reason:</th><td>{{form.reason}}</td></tr>
                    <tr><th>Outcome:</th><td>{{form.outcome}}</td></tr>
                    <tr><th>Timestamp:</th><td>{{record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
                    <tr><th>Duration:</th><td>{{record.duration|human_readable_duration}}</td></tr>
                    <tr><th>Executable:</th><td>{{record.executable.name}} version {{record.executable.version}} ({{record.executable.path}})</td></tr>
                    <tr><th>Launch mode:</th><td>{% ifequal record.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{record.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
                    <tr><th>Working directory:</th><td>{{record.working_directory}}</td></tr>
                    <tr><th>Repository (local):</th><td>{{record.repository.url}}</td></tr>
                    {% if record.repository.upstream %}
                    <tr><th>Repository (remote):</th><td>{{record.repository.upstream|urlize}}</td></tr>
                    {% endif %}
                    <tr><th>Main file:</th><td>{{record.main_file}}</td></tr>
                    <tr><th>Version:</th><td>{{record.version}}{% if record.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
                    {% if record.script_arguments %}<tr><th>Arguments:</th><td>{{record.script_arguments}}</td></tr>{% endif %}
                    <tr><th>User:</th><td>{{record.user}}</td></tr>
                    <tr><th>Tags:</th><td>{{form.tags}}</td></tr>
                </table>
            </div>
            <div class='form-actions' style='width: 400px'>
                    <button type="submit" class="btn btn-primary headeritem">Save changes</button>
                    <button type="submit" class="btn headeritem" name="delete">Delete record</button>
            </div>
        </fieldset>
    </form>
</div>

<div id="accordion-js" class="accordion">
    <h2 class="nav-toggle">Parameters</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if parameters %}
		        <table>
                        {% for name, value in parameters.items %}<tr><td><div class='label label-success' style='display:inline-block'>{{name}}</div></td><td><pre style='margin-top:5px'>{{value}}</pre></td></tr>{% endfor %}
			</table>
                {% else %}
                    no parameters
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Input files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>

                {% if record.input_data.count %}

               <script>
                 $(document).ready( function () {

                 var data_list = $('#data_dt').DataTable({
                   "columnDefs": [
                     {"sortable":false,  "targets":["filename-c", "path-c",
                      "digest-c", "output-c", "input-c"]}
                   ], 
                   "paging": false,
                   "ordering": true,
                   "info": false, <!-- "Showing x of y entries" -->
                   "filter": false, 
                   "lengthChange": false,  
                    "order": [[$('th.time-c').index(), "desc"]], <!--default sort  -->
                   } );


                   } );

               </script>


                <br/>

                <div style="margin-left:2%; margin-right:6%">
                  <table class='hover row-border' id='data_dt'>

                    <thead>
                      <tr>
                        <th class='filename-c'>filename</th>
                        <th class='path-c'>path</th>
                        <th class='digest-c'>digest</th>
                        <th class='size-c'>size</th>
                        <th class='time-c'>time</th>
                        <th class='output-c'>output of</th>
                        <th class='input-c'>input to</th>
                      </tr>
                    </thead>

                    <tbody>

                      {% for data in record.input_data.all %}

                      <tr>     
                        
                        <td class='dataTable_td' id='filename-t'>
                          <a href="/{{project_name}}/{{data.output_from_record.label}}/datafile?path={{data.path|urlencode}}&digest={{data.digest}}">
                            {{data.path|basename|ubreak}}
                          </a>
                        </td>
                        <td class='dataTable_td' id='path-t'>
                          {{data.path|ubreak}}    
                        </td>         
                        <td class='dataTable_td' id='digest-t'>
                          {{data.digest|truncatechars:12 }}
                        </td>     
                        <td class='dataTable_td' id='size-t'
                            data-sort="{{data|eval_metadata:'size'}}">
                          {{data|eval_metadata:'size'|filesizeformat}}
                        </td>
                        <td class='dataTable_td' id='time-t'>
                          <span style='display:none;'>
                            <!-- hack for correct sorting -->
                            {{data.output_from_record.timestamp|date:"YmdHis"}}
                          </span>
                          {{data.output_from_record.timestamp|date:"d/m/Y H:i:s"}}
                        </td>
                        <td class='dataTable_td' id='output_record-t'>
                          <a href="/{{project_name}}/{{data.output_from_record.label}}/">
                            {{data.output_from_record.label|ubreak}}
                          </a>
                        </td>
                        <td class='dataTable_td' id='input_record-t'>
                          {% for record in data.input_to_records.all %}
                          <a href="/{{project_name}}/{{record.label}}/">
                            {{record.label|ubreak}}<!--
                                                     -->{% if not forloop.last %}, {% endif %}
                          </a>
                          {% endfor %}
                        </td>
                        
                      </tr>
                      {% endfor %}
                    <tbody>
                  </table>
                </div>
                <br/>


                {% else %}
                    no input files
                {% endif %}

        </fieldset>
    </form>
</div>


<div class="accordion">
    <h2 class="nav-toggle">Output files</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
               <script>
                 $(document).ready( function () {

                 var data_list = $('#outdata_dt').DataTable({
                   "columnDefs": [
                     {"sortable":false,  "targets":["filename-c", "path-c",
                      "digest-c", "output-c", "input-c"]}
                   ], 
                   "paging": false,
                   "ordering": true,
                   "info": false, <!-- "Showing x of y entries" -->
                   "filter": false, 
                   "lengthChange": false,  
                    "order": [[$('th.time-c').index(), "desc"]], <!--default sort  -->
                   } );


                   } );

               </script>


                <br/>

                <div style="margin-left:2%; margin-right:6%">
                  <table class='hover row-border' id='outdata_dt'>

                    <thead>
                      <tr>
                        <th class='filename-c'>filename</th>
                        <th class='path-c'>path</th>
                        <th class='digest-c'>digest</th>
                        <th class='size-c'>size</th>
                        <th class='time-c'>time</th>
                        <th class='output-c'>output of</th>
                        <th class='input-c'>input to</th>
                      </tr>
                    </thead>

                    <tbody>

                      {% for data in record.output_data.all %}

                      <tr>     
                        
                        <td class='dataTable_td' id='filename-t'>
                          <a href="/{{project_name}}/{{data.output_from_record.label}}/datafile?path={{data.path|urlencode}}&digest={{data.digest}}">
                            {{data.path|basename|ubreak}}
                          </a>
                        </td>
                        <td class='dataTable_td' id='path-t'>
                          {{data.path|ubreak}}    
                        </td>         
                        <td class='dataTable_td' id='digest-t'>
                          {{data.digest|truncatechars:12 }}
                        </td>     
                        <td class='dataTable_td' id='size-t'
                            data-sort="{{data|eval_metadata:'size'}}">
                          {{data|eval_metadata:'size'|filesizeformat}}
                        </td>
                        <td class='dataTable_td' id='time-t'>
                          <span style='display:none;'>
                            <!-- hack for correct sorting -->
                            {{data.output_from_record.timestamp|date:"YmdHis"}}
                          </span>
                          {{data.output_from_record.timestamp|date:"d/m/Y H:i:s"}}
                        </td>
                        <td class='dataTable_td' id='output_record-t'>
                          <a href="/{{project_name}}/{{data.output_from_record.label}}/">
                            {{data.output_from_record.label|ubreak}}
                          </a>
                        </td>
                        <td class='dataTable_td' id='input_record-t'>
                          {% for record in data.input_to_records.all %}
                          <a href="/{{project_name}}/{{record.label}}/">
                            {{record.label|ubreak}}<!--
                                                     -->{% if not forloop.last %}, {% endif %}
                          </a>
                          {% endfor %}
                        </td>
                        
                      </tr>
                      {% endfor %}
                    <tbody>
                  </table>
                </div>
                <br/>

        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Dependencies</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>Path</th><th>Version</th></tr>
                    {% for dep in record.dependencies.all %}
                    <tr class="{% cycle 'odd' 'even' %}"><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>                   

<div class="accordion">
    <h2 class="nav-toggle">Platform information</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                <table class='table-recDetail'>
                    <tr><th>Name</th><th>IP address</th><th>Processor</th>
                        <th colspan="2">Architecture</th><th>System type</th>
                        <th>Release</th><th>Version</th>
                    </tr>
                    {% for platform in record.platforms.all %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{platform.network_name}}</td>
                        <td>{{platform.ip_addr}}</td>
                        <td>{{platform.processor}} {{platform.machine}}</td>
                        <td style='padding-right:5px'>{{platform.architecture_bits}}</td>
                        <td>{{platform.architecture_linkage}}</td>
                        <td>{{platform.system_name}}</td>
                        <td>{{platform.release}}</td>
                        <td>{{platform.version}}</td>
                    </tr>{% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
</div>

<div class="accordion">
    <h2 class="nav-toggle">Stdout & Stderr</h2>
    <form class="form-horizontal">
        <fieldset class = 'field-acc'>
            <div class="control-group">
                {% if record.stdout_stderr %}
                <div style='width:94%'>
                    <pre>{{ record.stdout_stderr }}</pre>
                </div>
                {% else %}
                no outputs
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

<script type = 'text/javascript'>
$(document).ready(function(){
        $('.accordion').find('h2').click(function(){
		    $(this).next().slideToggle();
		}).next()//.hide();
		$('#accordion-js').find('#additional').next().hide();
        $('#stdout').css('width', $('h2.topic').width());
});
</script>

{% endblock %}
