{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}: {{label}}: {{path}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{path}}/">
                {{path}}</a></li> <!--?? What are the urls? -->
{% endblock %}

{% block content %}




<div class="accordion">
  <h2 class="nav-toggle">General info</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>
      <fieldset class = 'field-acc'>
        <div class="control-group">
          <table id = 'gen_info'>
            <tr><th>Path:</th><td>{{path}}</td></tr>
            <tr><th>Type:</th><td>{{mimetype}}</td></tr>
            <tr><th>Size:</th><td>{{metadata.size|filesizeformat}}</td></tr>
            <tr><th>Timestamp: </th><td>{{time|date:"d/m/Y H:i:s"}}</td></tr>
            <tr><th>Description:</th><td>{{form.description}}</td></tr>
          </table>
        </div>
      </fieldset>
  </form>
</div>



<div class="accordion">
  <h2 class="nav-toggle">Associated Data (Siblings)</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>
      <fieldset class = 'field-acc'>
        <div class="control-group">

        </div>
      </fieldset>
  </form>
</div>



<div class="accordion">
  <h2 class="nav-toggle">Associated Records (Provenance)</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>
      <fieldset class = 'field-acc'>
        <div class="control-group">

          <br/>

          <!-- DataTables CSS -->
          <link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css">
          
          <!-- jQuery -->
          <script type="text/javascript" charset="utf8" src="/media/js/jquery.js"></script>
          
          <!-- DataTables -->
          <script type="text/javascript" charset="utf8" src="/media/js/jquery.dataTables.js"></script>



          <script>
            $(document).ready( function () {
               $('#record_dt').DataTable({
                  "paging": false,
                  "ordering": true,
                  "info": false, <!-- "Showing x of y entries" -->
                  "filter": false,                
                } );
            } );
          </script>


          <table class='hover row-border' id='record_dt'  style="word-wrap:
               break-word; overflow-wrap: break-word; table-layout:
               fixed;" >

            <thead>
              <tr>
                <th>repository</th>
                <th>label</th>
                <th>tag</th>
                <th>reason</th>
                <th>outcome</th>
                <th>duration</th>
                <th>processes</th>
                <th>date</th>
                <th>time</th>
                <th>exec.</th>
                <th>main</th>
                <th>version</th>
                <th>arguments</th>
              </tr>
            </thead>

            <tbody>

              {% for record in input_records %}

              <tr>     
                <!--<td class='dataTable_td'  id = 'version-hid' class='d-hid'>                     {{record.version}}
                    </td>
                <td class='dataTable_td'  id = 'repo-hid' class='d-hid'>
                  {{record.repository.url}}
                </td> 
                to be hidden. what do they do?
                -->
                
                <td class='dataTable_td' id='repository-t'>
                  <span class="span-box">
                    {{record.repository.url|cut:"repo"}}
                  </span>
                </td>
                <td class='dataTable_td' id='label-t'>
                  <a href="/{{project_name}}/{{record.label}}/">
                    {{record.label}}
                  </a> 
                  
                </td> 
                {% if tag %}
                <td class='dataTable_td' id='tag-t'>
                  {% for other_tag in record.tag_objects %}
                  {% if tag == other_tag %}
                  {{tag}} 
                  {% else %}
                  <a href="#">
                    {{other_tag.name}}
                  </a> <!-- Fix Link!! -->
                  {% endif %}
                  {% endfor %}
                </td>
                {% else %}
                <td class='dataTable_td' id='tag-t'>
                  {% for tag in record.tag_objects %}
                  <a href="#">{{tag}}</a>, <!-- Fix Link!! -->
                  {% endfor %}
                </td> 
                {% endif %}

                <td class='dataTable_td' id='reason-t'>
                  {{record.reason}}
                </td>
                <td class='dataTable_td' id='outcome-t'>
                  {{record.outcome}}
                </td>
                <td class='dataTable_td' id='duration-t'>
                  {{record.duration|human_readable_duration}}
                </td>
                <td class='dataTable_td' id='processes-t'>
                  {{record.launch_mode.get_parameters.n|default:"1"}}
                </td>
                <td class='dataTable_td' id='date-t'>
                  {{record.timestamp|date:"d/m/Y"}}
                </td>
                <td class='dataTable_td' id='time-t'>
                  {{record.timestamp|date:"H:i:s"}}
                </td>
                <td class='dataTable_td' id='ename-t'>
                  {{record.executable.name}} {{record.executable.version}}
                </td>
                <td class='dataTable_td' id='main-t'>
                  <a class='id-script'  data-toggle="modal" href="#">
                    {{record.main_file}}
                  </a> <!-- Fix Link!! -->
                </td>
                <td class='dataTable_td' id='version-t'>
                  <span class="span-box">
                    {{record.version|cut:"vers"}}
                    {% if record.diff %}
                    *
                    {% endif %}
                  </span>
                </td>
                <td class='dataTable_td' id='arguments-t'>
                  <a class='href_args'
                     href='#'>
                    {{record.script_arguments}}
                  </a> <!-- Fix Link!! -->
                </td>     
              </tr>
              {% endfor %}
            <tbody>
          </table>


        </div>
      </fieldset>
  </form>
</div>








            <!--<table border="1px solid black">
              {% for record in input_records %}
              <tr>                
                <td>
                  <a class='href_lab' href='#'>
                    {{record.label}}
                  </a>
                </td>
                <td>
                  <a class='id-script' data-toggle="modal" href="#">
                    {{record.main_file}}
                  </a>
                </td>         
              </tr>
              {% endfor %}
            </table>-->




  <!-- <table id = 'gen_info'>
    <tr>
      <th> Ouput of: </th>
      <td>
        {% for record in output_records %}
        <a href="/{{project_name}}/{{record.label}}/"> 
          {{record.label}}</a> 
        {% endfor %}
      </td>
    </tr>
    
    <tr>
      <th>   Used as input in: </th>
      <td>
        {% for record in input_records %} 
        <a href="/{{project_name}}/{{record.label}}/"> 
          {{record.label}}</a>,
        {% endfor %}
      </td>
    </tr>    
  </table>-->



<!--<h4> Associated records: </h4>







<p>Output of:
  {% for record in output_records %}
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a> 
  {% endfor %} <br />

  Used as input in: 
  {% for record in input_records %} 
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a>, 
  {% endfor %}</p> 

<p>Size: {{metadata.size|filesizeformat}} <br />
   Time: {{time|date:"d/m/Y H:i:s"}}</p> -->

<!--<script type="text/javascript"
src="../media/js/sumatra.ajax.js"></script>-->




<!--<script type = 'text/javascript'>
$(document).ready(function(){
        $('.accordion').find('h2').click(function(){
		    $(this).next().slideToggle();
		}).next()//.hide();
		$('#accordion-js').find('#additional').next().hide();
        $('#stdout').css('width', $('h2.topic').width());
});
</script>-->

{% endblock %}



