{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}: {{label}}: {{path}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{label}}/"> {{label}}</a></li>
{% endblock %}

{% block content %}

<h3>{{path}}</h3>

{% if mimetype %}
<p>Mimetype: {{mimetype}}
{% endif %}

<h4> Associated records: </h4>

<p>Output of:
  {% for record in output_records %}
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a> 
  {% endfor %} <br />

  Used as input in: 
  {% for record in input_records %} 
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a>, 
  {% endfor %}</p>

<p>Size: {{metadata.size|filesizeformat}}</p>
<p>Time: {{time}}</p>

{% endblock %}
