{% extends "base.html" %}

{% load filters %}

{% block title %}{{project_name}}: {{label}}: {{path}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="/{{project_name}}/">{{project_name}}</a></li>
            <li><a href="/{{project_name}}/{{path}}/">
                {{path}}</a></li> <!--?? What are the urls? -->
{% endblock %}

{% block content %}

<!-- DataTables CSS -->
          <link rel="stylesheet" type="text/css"
                href="/media/css/jquery.dataTables.css">
          
          <!-- jQuery -->
          <script type="text/javascript" charset="utf8" src="/media/js/jquery.js"></script>
          
          <!-- DataTables -->
          <script type="text/javascript" charset="utf8"
                  src="/media/js/jquery.dataTables.js"></script>


<div class="accordion">
  <h2 class="nav-toggle">General info</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>
      <fieldset class = 'field-acc'>
        <div class="control-group">
          <table id = 'gen_info'>
            <tr><th>Path:</th><td>{{data_key.path}}</td></tr>
            <tr><th>Type:</th><td>{{data_key.get_metadata.mimetype}}</td></tr>
            <tr><th>Size:</th><td>{{data_key.get_metadata.size|filesizeformat}}</td></tr>
            <tr><th>Timestamp: </th><td>{{data_key.output_from_record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
            <tr><th>Description:</th><td>{{form.description}}</td></tr>
          </table>
        </div>
      </fieldset>
  </form>
</div>



<div class="accordion">
  <h2 class="nav-toggle">Associated Data (Siblings)</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>
      <fieldset class = 'field-acc'>

<script>
  $(document).ready( function () {

  var data_list = $('#data_dt').DataTable({
    "columnDefs": [
      {"sortable":false,  "targets":["filename-c", "path-c",
       "digest-c", "output-c", "input-c"]}
    ], 
    "paging": false,
    "ordering": true,
    "info": false, <!-- "Showing x of y entries" -->
    "filter": false, 
    "lengthChange": false,  
     "order": [[$('th.time-c').index(), "desc"]], <!--default sort  -->
    } );


    } );

</script>


<br/>

<div style="margin-left:2%; margin-right:6%">
<table class='hover row-border' id='data_dt'>

  <thead>
    <tr>
      <th class='filename-c'>filename</th>
      <th class='path-c'>path</th>
      <th class='digest-c'>digest</th>
      <th class='size-c'>size</th>
      <th class='time-c'>time</th>
      <th class='output-c'>output of</th>
      <th class='input-c'>input to</th>
    </tr>
  </thead>

  <tbody>

    {% for data in data_key.output_from_record.output_data.all %}

    <tr>     
      <!--<td class='dataTable_td'  id = 'version-hid' class='d-hid'>                     {{record.version}}
          </td>
      <td class='dataTable_td'  id = 'repo-hid' class='d-hid'>
        {{record.repository.url}}
      </td> 
      to be hidden. what do they do?
      -->
      
      <td class='dataTable_td' id='filename-t'>
        <a href="/{{project_name}}/{{data.output_from_record.label}}/datafile?path={{data.path|urlencode}}&digest={{data.digest}}">
          {{data.path|basename|ubreak}}
        </a>
      </td>
      <td class='dataTable_td' id='path-t'>
          {{data.path|ubreak}}    
      </td>         
      <td class='dataTable_td' id='digest-t'>
        {{data.digest|truncatechars:12 }}
      </td>     
      <td class='dataTable_td' id='size-t'
          data-sort="{{data|eval_metadata:'size'}}">
        {{data|eval_metadata:'size'|filesizeformat}}
      </td>
      <td class='dataTable_td' id='time-t'>
        <span style='display:none;'>
          <!-- hack for correct sorting -->
          {{data.output_from_record.timestamp|date:"YmdHis"}}
        </span>
          {{data.output_from_record.timestamp|date:"d/m/Y H:i:s"}}
      </td>
      <td class='dataTable_td' id='output_record-t'>
          <a href="/{{project_name}}/{{data.output_from_record.label}}/">
          {{data.output_from_record.label|ubreak}}
          </a>
      </td>
      <td class='dataTable_td' id='input_record-t'>
        {% for record in data.input_to_records.all %}
        <a href="/{{project_name}}/{{record.label}}/">
          {{record.label|ubreak}}<!--
           -->{% if not forloop.last %}, {% endif %}
        </a>
        {% endfor %}
      </td>
      
    </tr>
    {% endfor %}
  <tbody>
</table>
</div>
<br/>

      </fieldset>
  </form>
</div>



<div class="accordion">
  <h2 class="nav-toggle">Associated Records (Provenance)</h2>
  <form action='{{ request.path }}' method='POST' 
        id="actions" name="actions">
    {{form.errors}}
    <fieldset class = 'field-acc'>





          <script>
  $(document).ready( function () {

  var hd_cl = {{settings.record_hidden_cols|as_json|safe}};
  var record_list = $('#record_dt').DataTable({
    "columnDefs": [
      {"sortable":false,  "targets":["repository-c", "label-c",
       "tag-c", "reason-c", "outcome-c", "main-c", "version-c",
       "input-c", "output-c", "arguments-c"]},   
      <!--{"visible":false, "targets": hd_cl},-->
      {"visible":false, "targets": ["arguments-c", "processes-c",
        "repository-c", "outcome-c"]}
    ],
    <!--"dom": 'lfrC<"clear">tip',     <!-- Order: 'l'ength, 'f'ilter,  p'r'ocessing, 'C'olumns, 't'able, 'i'nformation, 'p'agination -->
    "paging": false,
    "ordering": true,
    "info": false, <!-- "Showing x of y entries" -->
    "filter": false, 
    "lengthChange": false,
    "order": [[$('th.time-c').index(), "desc"]], <!-- default sort column -->
    } );


    $('a.settings_togg').on('click', function(e) {
      e.preventDefault();
      $('#settings_panel').toggle()
      $('#settings_panel2').toggle()
    })

    <!-- Column visibility toggle -->
    $('input.check-item').on( 'change', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = record_list.column($(this).attr('data-column')
        );

        console.log($(this).attr('data-column'))
 
        // Toggle the visibility
        column.visible( ! column.visible() );

        <!--console.log($.get("/{{project_name}}/settings"))-->

        // save settings to .smtrc
        // $.post("/{{project_name}}/settings", {'record_hidden_cols':['murloc'],'saveSettings':true}); 
    } );

    // Save changes button   
    $('#save_set').click(function(){  
        record_list.page.len($('#s_nbt').val());
        record_list.draw();
        });



    } );

</script>




<div id='settings_panel' style='display:none;'>
  <br/>
  <label class="checkbox">
    <input type="checkbox" id='repository' class='check-item' 
           data-column='0' checked="checked">
    Repository
  </label>
  <label class="checkbox">
    <input type="checkbox" id='label' class='check-item'
    data-column='1'  checked="checked">
    Label
  </label>
  <label class="checkbox">
    <input type="checkbox" id='tag' class='check-item' data-column='2'
     checked="checked">
    Tag
  </label>
  <label class="checkbox">
    <input type="checkbox" id='reason' class='check-item'
    data-column='3' checked="checked">
    Reason
  </label>
  <label class="checkbox">
    <input type="checkbox" id='outcome' class='check-item'
    data-column='4'  checked="checked"> 
    Outcome
  </label>
  <label class="checkbox">
    <input type="checkbox" id='input' class='check-item'
    data-column='5'  checked="checked"> 
    Input
  </label>
  <label class="checkbox">
    <input type="checkbox" id='output' class='check-item'
    data-column='6'  checked="checked"> 
    Output
  </label>
  <label class="checkbox">
    <input type="checkbox" id='duration' class='check-item'
    data-column='7' checked="checked"> 
    Duration
  </label>
  <label class="checkbox">
    <input type="checkbox" id='processes' class='check-item'
    data-column='8' checked="checked">
    Processes
  </label>
  <label class="checkbox">
    <input type="checkbox" id='time' class='check-item'
    data-column='9' checked="checked">
    Time
  </label>
  <label class="checkbox">
    <input type="checkbox" id='ename' class='check-item'
    data-column='10' checked="checked">
    Executable
  </label>

  <label class="checkbox">
    <input type="checkbox" id='main' class='check-item'
    data-column='11' checked="checked">
    Script main file
  </label>
  <label class="checkbox">
    <input type="checkbox" id='version' class='check-item'
           data-column='12' checked="checked"> 
    Script version
  </label>
  <label class="checkbox">
    <input type="checkbox" id='arguments' class='check-item'
    data-column='13' checked="checked"> Script
    arguments
  </label>
  <div style='float:left; padding:8px; padding-left:0px'>Number of
    records per page:</div>
  <input id='s_nbt' class='span1' type='text' style='float:left;margin-bottom:0px' value='{{settings.nb_records_per_page}}'>
  </div>
  <div id="settings_panel2" class="modal-footer" style='display:none;'>
    <a class="btn" data-dismiss="modal">Close</a>
    <a class="btn btn-primary" id='save_set'>Save changes</a>
  </div>
</div>



<div style="margin-left:2%; margin-right:6%">
  <table class='hover row-border' id='record_dt'>

    <thead>
      <tr>
        <th class='repository-c'>repository</th>
        <th class='label-c'>label</th>
        <th class='tag-c'>tag</th>
        <th class='reason-c'>reason</th>
        <th class='outcome-c'>outcome</th>
        <th class='input-c'>input&nbsp;data</th>
        <th class='output-c'>output&nbsp;data</th>
        <th class='duration-c'>duration</th>
        <th class='processes-c'>processes</th>
        <th class='time-c'>time</th>
        <th class='exec-c'>exec.</th>
        <th class='main-c'>main</th>
        <th class='version-c'>version</th>
        <th class='arguments-c'>arguments</th>
      </tr>
    </thead>

    <tbody>

      {% for record in data_key.input_to_records.all %}

      <tr>     
        <!--<td class='dataTable_td'  id = 'version-hid' class='d-hid'>                     {{record.version}}
            </td>
        <td class='dataTable_td'  id = 'repo-hid' class='d-hid'>
          {{record.repository.url}}
        </td> 
        to be hidden. what do they do?
        -->
        
        <td class='dataTable_td' id='repository-t'>
          <span class="span-box">
            {{record.repository.url|cut:"repo"}}
          </span>
        </td>
        <td class='dataTable_td' id='label-t'>
          <a href="/{{project_name}}/{{record.label}}/">
            {{record.label|ubreak}}
          </a> 
          
        </td> 
        {% if tag %}
        <td class='dataTable_td' id='tag-t'>
          {% for other_tag in record.tag_objects %}
          {% if tag == other_tag %}
          {{tag}} 
          {% else %}
          <a href="#">
            {{other_tag.name}}
          </a> <!-- Fix Link!! -->
          {% endif %}
          {% endfor %}
        </td>
        {% else %}
        <td class='dataTable_td' id='tag-t'>
          {% for tag in record.tag_objects %}
          <a href="#">{{tag}}</a>, <!-- Fix Link!! -->
          {% endfor %}
        </td> 
        {% endif %}

        <td class='dataTable_td' id='reason-t'>
          {{record.reason}}
        </td>
        <td class='dataTable_td' id='outcome-t'>
          {{record.outcome}}
        </td>
        <td class='dataTable_td' id='input-t'>
          {% for data in record.input_data.all %}
          {{data.path|basename|ubreak}}<!--
                                         -->{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td class='dataTable_td' id='output-t'>
          {% for data in record.output_data.all %}        
          {{data.path|basename|ubreak}}<!--
                                         -->{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td class='dataTable_td' id='duration-t'
            data-sort='{{record.duration}}'>
          {{record.duration|human_readable_duration}}
        </td>
        <td class='dataTable_td' id='processes-t'>
          {{record.launch_mode.get_parameters.n|default:"1"}}
        </td>
        <td class='dataTable_td' id='time-t'>
          <span style='display:none;'>
            <!-- hack for correct sorting -->
            {{record.timestamp|date:"YmdHis"}}
          </span>
          {{record.timestamp|date:"d/m/Y H:i:s"}}
        </td>
        <td class='dataTable_td' id='ename-t'>
          {{record.executable.name}} {{record.executable.version}}
        </td>
        <td class='dataTable_td' id='main-t'>
          <a class='id-script'  data-toggle="modal" href="#">
            {{record.main_file|ubreak}}
          </a> <!-- Fix Link!! -->
        </td>
        <td class='dataTable_td' id='version-t'>
          <span class="span-box">
            {{record.version|cut:"vers"}}
            {% if record.diff %}
            *
            {% endif %}
          </span>
        </td>
        <td class='dataTable_td' id='arguments-t'>
          <a class='href_args' href='#'>
            {{record.script_arguments}}
          </a> <!-- Fix Link!! -->
        </td> 
      </tr>
      {% endfor %}
    <tbody>
  </table>
</div>

<br/>

          
  
      </fieldset>
  </form>
</div>








            <!--<table border="1px solid black">
              {% for record in input_records %}
              <tr>                
                <td>
                  <a class='href_lab' href='#'>
                    {{record.label}}
                  </a>
                </td>
                <td>
                  <a class='id-script' data-toggle="modal" href="#">
                    {{record.main_file}}
                  </a>
                </td>         
              </tr>
              {% endfor %}
            </table>-->




  <!-- <table id = 'gen_info'>
    <tr>
      <th> Ouput of: </th>
      <td>
        {% for record in output_records %}
        <a href="/{{project_name}}/{{record.label}}/"> 
          {{record.label}}</a> 
        {% endfor %}
      </td>
    </tr>
    
    <tr>
      <th>   Used as input in: </th>
      <td>
        {% for record in input_records %} 
        <a href="/{{project_name}}/{{record.label}}/"> 
          {{record.label}}</a>,
        {% endfor %}
      </td>
    </tr>    
  </table>-->



<!--<h4> Associated records: </h4>







<p>Output of:
  {% for record in output_records %}
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a> 
  {% endfor %} <br />

  Used as input in: 
  {% for record in input_records %} 
  <a href="/{{project_name}}/{{record.label}}/"> 
    {{record.label}}</a>, 
  {% endfor %}</p> 

<p>Size: {{metadata.size|filesizeformat}} <br />
   Time: {{time|date:"d/m/Y H:i:s"}}</p> -->

<!--<script type="text/javascript"
src="../media/js/sumatra.ajax.js"></script>-->




<!--<script type = 'text/javascript'>
$(document).ready(function(){
        $('.accordion').find('h2').click(function(){
		    $(this).next().slideToggle();
		}).next()//.hide();
		$('#accordion-js').find('#additional').next().hide();
        $('#stdout').css('width', $('h2.topic').width());
});
</script>-->

{% endblock %}



