{% extends "show_file_base.html" %}

{% block content %}

{{ block.super }}


  <div class="accordion">
    <h2 class="nav-toggle">Content</h2>
    <form action='{{ request.path }}' method='POST' 
          id="actions" name="actions">
      {{form.errors}}
      <fieldset class = 'field-acc'>
        <fieldset class = 'field-acc'>
          <!--<div class="control-group">
            <table class="csvfile">
              {% for row in reader %}
              <tr>
                {% if forloop.first %}
                {% for col in row %}<th>{{col}}</th>{% endfor %}
                {% else %}
                {% for col in row %}<td>{{col}}</td>{% endfor %}
                {% endif %}
              </tr>
              {% endfor %}
            </table>


            {% if truncated %}
            <p>File contents truncated. <a href="datafile?path={{path|urlencode}}&digest={{digest}}&truncate=false" class="btn">Show entire contents</a></p>
            {% endif %}

            <p><a href="download?path={{path|urlencode}}&digest={{digest}}" class="btn">Download content</a></p>

            {{errmsg}}

          </div>-->
        </fieldset>
    </form>
  </div>



{% endblock %}
