{% extends "base.html" %}

{% load filters %}
{% load filters %}

{% block title %}Timeline for {{user_name}}: {{month}} {{year}}{% endblock %}

{% block header %}
            <li class="divider"></li>
            <li><a href="">Timeline for {{user_name}}</a></li>
{% endblock header %}

{% block content %}

<p>
{% if next_month %}<a href="?year={{next_month|date:"Y"}}&month={{next_month|date:"b"}}">{{next_month|date:"F Y"}}</a>{% endif %}
{% if previous_month %}<a href="?year={{previous_month|date:"Y"}}&month={{previous_month|date:"b"}}">{{previous_month|date:"F Y"}}</a>{% endif %}
</p>

<div id ='innerContent'>
{% regroup record_list by timestamp.date as records_by_date %}

{% for records in records_by_date %}
    <h2>{{records.grouper}}</h2>
    {% for record in records.list %}
        <h3>{{record.timestamp.time}}</h3>
        <p>{{record.project}}/{{record.label}}</p>
        <p>{{record.reason|restructuredtext}}</p>
        <p>{{record.executable.name}} version: {{record.executable.version}}</p>
        <p>Code version: {{record.version}} from
        {% if record.repository.upstream %}
            {{record.repository.upstream|urlize}}
        {% else %}
            {{record.repository.url|urlize}}
        {% endif %}
        </p>
        {% if record.diff %}
        <pre>
            {{record.diff}}
        </pre>
        {% endif %}
        <code>{{record.command_line}}</code>
        <p>{{record.outcome|restructuredtext}}</p>
        <p>Duration: {{record.duration|human_readable_duration}}</p>
        
        {% if record.input_data.count %}
            <p>Inputs:<ul>
            {% for file in record.input_data.all %}
              <li><a href="datafile?path={{file.path}}&digest={{file.digest}}&type=input">{{file.path}}</a>
              {% if file.metadata.size %}({{file.metadata.size|filesizeformat}}){% endif %}</li>
            {% endfor %}
            </ul></p>
        {% endif %}
        
        {% if record.output_data.count %}
            <p>Outputs:<ul>
            {% for file in record.output_data.all %}
              <li><a href="datafile?path={{file.path}}&digest={{file.digest}}&type=input">{{file.path}}</a>
              {% if file.metadata.size %}({{file.metadata.size|filesizeformat}}){% endif %}</li>
            {% endfor %}
            </ul></p>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>


{% endblock content %}