name: Run Sumatra tests

on: [push, pull_request]

jobs:

  test_minimal:  # run tests with minimal installation
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-latest]
        python-version: ["3.8", "3.9", "3.11", "3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r ci/requirements-min.txt
          pip install -r ci/requirements-test.txt
          pip install --no-deps .
          pip freeze
      - name: Configure git
        run: |
          git config --global user.email "testuser@example.org"
          git config --global user.name "Test user"
      - name: Test with pytest
        run: |
          pytest -v

  test_all:  # run tests with all features enabled
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-latest]
        python-version: ["3.8", "3.9", "3.11", "3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r ci/requirements.txt
          pip install -r ci/requirements-test.txt
          pip install .
          pip freeze
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          #flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings.
          #flake8 . --count --exit-zero --max-complexity=10 --max-line-length=119 --statistics
      - name: Configure git
        run: |
          git config --global user.email "testuser@example.org"
          git config --global user.name "testuser"
      - name: Test with pytest
        run: |
          pytest -v test/unittests
          pytest -v test/system/test_ircr.py
          pytest -v test/system/test_webui.py
